<!DOCTYPE html>
<head>
  <title>arkana</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/fetch-polyfill@0.8.2/fetch.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js" defer></script>
  <script src="https://unpkg.com/vue-select@latest" defer></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" defer></script>
  <script src="js/main.js" defer></script>
  <script>window.RenaultShowroom=window.RenaultShowroom||[]</script>
</head>
<body>
  <div class="wrapper">
    <div class="equipment">
      <div class="container">
        <div class="title">Технологии Renault arkana <br><span>RENAULT Arkana доступен с турбодвигателем TCe-150 в сочетании с автоматической трансмиссией CVT X-Tronic и интеллектуальной системой полного привода.</span></div>
        <div class="motorBlock">
          <div class="motor">
            <canvas id="motor" width="440px" height="426px" :class="{'hide':currentPosition == positions.length-1&amp;&amp; currentImg===positions[positions.length-1]}"></canvas>
            <transition name="showCircle" mode="in-out">
              <div class="hovers" v-for="(item, ind) in motorItems" v-if="currentPosition === ind &amp;&amp; currentImg===positions[ind]">
                <div class="transmission" v-if="currentPosition == positions.length-1"></div>
                <div class="circle" v-for="hover in item.hovers" :style="{left: hover.position.x+'%',top:hover.position.y+'%',}">
                  <div class="plus" @mouseover="lightenText(hover.id)" @mouseleave="hideLightenText(hover.id)"></div>
                  <div class="gif">
                    <div class="decor left"></div>
                    <div class="decor right"></div><img :src="'img/gif/'+hover.gif">
                  </div>
                </div>
              </div>
            </transition>
            <div class="buttons">
              <div class="prev" ref="motorPrev" @click="updatePosition('prev')"></div>
              <div class="next" ref="motorNext" @click="updatePosition('next')"></div>
            </div>
          </div>
          <div class="itemsContainer">
            <div class="items">
              <div class="item" v-for="(item, ind) in motorItems " :class="{'open':currentPosition===ind}"><a @click="updatePosition('next', ind)" v-html="item.a"></a>
                <div class="content">
                  <div class="stats">
                    <div class="stat" v-for="stat in item.stats">
                      <div class="statImg" :class="stat.img"></div>
                      <div class="statText" v-html="stat.text"></div>
                    </div>
                  </div>
                  <div class="text">
                    <p v-for="p in item.text" v-html="p"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="platform">
      <div class="platformTitle">
        <div class="container">
          <div class="title">С ЗАБОТОЙ О БЕЗОПАСНОСТИ</div>
          <div class="subtitle">Для российского рынка RENAULT Arkana вышла с базой на модульной платформе SUV</div>
        </div>
      </div>
      <div class="platform_slider">
        <div class="spec__characteristic">
          <div class="chrtc__mainbg">
            <picture>
              <source srcset="img/platform/feature_main_mobile.jpg" media="(max-width: 640px)"><img class="chrtc__image main-img active" src="img/platform/feature_main.jpg">
            </picture>
            <picture>
              <source srcset="img/platform/feature_steel_mobile.jpg" media="(max-width: 640px)"><img class="chrtc__image" data-image="1" src="img/platform/feature_steel.jpg">
            </picture>
            <picture>
              <source srcset="img/platform/feature_safety_mobile.jpg" media="(max-width: 640px)"><img class="chrtc__image" data-image="2" src="img/platform/feature_safety.jpg">
            </picture>
            <picture>
              <source srcset="img/platform/feature_comfort_mobile.jpg" media="(max-width: 640px)"><img class="chrtc__image" data-image="3" src="img/platform/feature_comfort.jpg">
            </picture>
            <picture>
              <source srcset="img/platform/feature_manage_mobile.jpg" media="(max-width: 640px)"><img class="chrtc__image" data-image="4" src="img/platform/feature_manage.jpg">
            </picture>
          </div>
          <div class="chrtc__container">
            <div class="chrtc__box chrtc__box--normal" data-image="1">
              <div class="chrtc__descr">
                <div class="chrtc__descr__title">Высокопрочная<br class="desktop"> сталь</div>
                <div class="chrtc__descr__text">Жесткий кузов RENAULT Arkana не только обеспечивает высокий уровень безопасности, но и вносит значительный вклад в улучшение комфорта и управляемости, а также снижение уровня шумов и вибраций.</div>
                <div class="chrtc__descr__othertext">Обширное использование высокопрочных марок стали, локальные усилители кузова и новый моторный щит обеспечивают кузову кроссовера высокую жесткость на кручение.<br> Компания Renault известна своим бескомпромиссным подходом к пассивной безопасности, Renault ARKANA не является исключением. В платформе SUV используются высокопрочные и сверхвысокопрочные марки стали, их доля в кузове автомобиля составляет 35%. Это дает гарантию надежности и выносливости.</div>
              </div>
              <div class="chrtc__detail">
                <div class="chrtc__detail__icon"></div>
                <div class="chrtc__detail__text" data-default="подробнее" data-active="закрыть"></div>
              </div>
            </div>
            <div class="chrtc__box chrtc__box--normal" data-image="2">
              <div class="chrtc__descr">
                <div class="chrtc__descr__title">Безопасность<br class="desktop"> под контролем</div>
                <div class="chrtc__descr__text">Современные системы активной и пассивной безопасности обеспечивают уверенность водителя и спокойствие пассажиров в любой поездке.</div>
                <div class="chrtc__descr__othertext">В зависимости от комплектации оснащение RENAULT Arkana включает в себя до шести подушек безопасности, а также преднатяжители ремней безопасности на передних сиденьях. Активная безопасность Renault ARKANA обеспечивается применением системы динамической стабилизации Bosch 9.3 с функцией электронной блокировки дифференциала, которая отличается улучшенной эффективностью благодаря повышенному рабочему давлению и увеличенной частоте работы, а также сниженным шумом и вибрациями.</div>
              </div>
              <div class="chrtc__detail">
                <div class="chrtc__detail__icon"></div>
                <div class="chrtc__detail__text" data-default="подробнее" data-active="закрыть"></div>
              </div>
            </div>
            <div class="chrtc__box chrtc__box--normal" data-image="3">
              <div class="chrtc__descr">
                <div class="chrtc__descr__title">Комфорт<br class="desktop"> за рулем</div>
                <div class="chrtc__descr__text">Благодаря отличной геометрической проходимости, энергоемкой подвеске и интеллектуальной полноприводной трансмиссии, автомобиль позволяет уверенно передвигаться по любому покрытию.</div>
                <div class="chrtc__descr__othertext">В полноприводных версиях RENAULT Arkana установлена новая многорычажная подвеска и стойки амортизаторов, которые вместе со специальным настройками позволяют уменьшить крены кузова при поворотах, сохранив энергоемкость шасси.</div>
              </div>
              <div class="chrtc__detail">
                <div class="chrtc__detail__icon"></div>
                <div class="chrtc__detail__text" data-default="подробнее" data-active="закрыть"></div>
              </div>
            </div>
            <div class="chrtc__box chrtc__box--normal" data-image="4">
              <div class="chrtc__descr">
                <div class="chrtc__descr__title">Точное<br class="desktop"> управление</div>
                <div class="chrtc__descr__text">Комфортное управление на низкой и высокой скорости за счет полностью обновленной системы рулевого управления.</div>
                <div class="chrtc__descr__othertext">RENAULT Arkana легко управлять на любой скорости за счет системы рулевого механизма с электроусилителем переменной производительности. Это решение позволяет комфортно управлять автомобилем на высокой скорости и в то же время сокращает усилия на парковочных скоростях на 40% по сравнению с гидроусилителем.</div>
              </div>
              <div class="chrtc__detail">
                <div class="chrtc__detail__icon"></div>
                <div class="chrtc__detail__text" data-default="подробнее" data-active="закрыть"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  window.app_data = {
    isMobile: document.documentElement.offsetWidth < 768,
    maskType: 2,

    /*   MOTOR   */
    motor: null,
    canvasWidth: null,
    canvasHeight: null,
    ctx: null,
    imgsCount: 135,
    currentImg: 0,
    currentPosition: 0,
    positions: [0, 63, 107, 23],
    sprites: [],
    isClicked: false,
    // нажата ли мышь перед перемещением
    lastOffsetXPos: null,
    // позиция зажатой мыши до последнего перемещения
    moveDirection: null,
    // направление перетаскивания мыши
    motorItems: [{
      a: 'Турбодвигатель TCe-150',
      stats: [{
        img: 'hourse',
        text: 'мощность 150 л.с.'
      }, {
        img: 'moment',
        text: 'крутящий момент<br>250 нм'
      }, {
        img: 'maslo',
        text: 'сниженная масса двигателя'
      }],
      hovers: [{
        id: 0,
        //hover-id спанов которых надо выделить
        position: {
          x: 34,
          y: 4
        },
        gif: 'comp_2-turbonagnetatel.gif'
      }, {
        id: 1,
        //hover-id спанов которых надо выделить
        position: {
          x: 33,
          y: 45
        },
        gif: 'comp_1-golovka-bloka.gif'
      }],
      text: ['Специально для нашего рынка Renault ARKANA получил бензиновый двигатель TCe-150 с турбонаддувом, мощностью 150 л.с. и автоматической трансмиссией CVT X-Tronic с интеллектуальной системой полного привода.',
        'Силовой агрегат оснащен <span data-hover-id="0">турбонагнетателем с электронно-управляемым перепускным клапаном</span>, который делает отклик на нажатие педали акселератора быстрым и точным. Кроме того, в конструкции использована <span data-hover-id="1">облегченная головка блока цилиндров</span>, уменьшающая общий вес.',
        'В автоматической трансмиссии CVT X-Tronic увеличен диапазон передаточных чисел и улучшена плавность работы.']
    }, {
      a: 'Потрясающая эффективность',
      stats: [{
        img: 'fuel',
        text: 'УМЕНЬШЕННЫЙ РАСХОД ТОПЛИВА'
      }, {
        img: 'service',
        text: 'ВЫГОДНОЕ ОБСЛУЖИВАНИЕ'
      }, {
        img: 'pleasure',
        text: 'УДОВОЛЬСТВИЕ ОТ ВОЖДЕНИЯ'
      }],
      hovers: [{
        id: 0,
        //hover-id спанов которых надо выделить
        position: {
          x: 50,
          y: 26
        },
        gif: 'comp_3-6-tochechniy-vprisk.gif'
      }, {
        id: 1,
        //hover-id спанов которых надо выделить
        position: {
          x: 36,
          y: 40
        },
        gif: 'comp_4-cylindry.gif'
      }],
      text: ['Бензиновый двигатель TCe-150 &mdash; своего рода произведение инженерного искусства. Среди технических особенностей <span data-hover-id="0">непосредственный впрыск топлива</span> с давлением 250 бар и особая форма камер сгорания, которые обеспечивают превосходные показатели эффективности.',
        'Кроме того, в нем используется двойная система <span data-hover-id="1">изменения фаз газораспределения с роликовыми толкателями и электронным управлением.</span> В зависимости от оборотов и нагрузки она регулирует работу клапанов как на впуске, так и на выпуске. Таким образом инженерам удалось добиться большего крутящего момента на низких оборотах.']
    }, {
      a: 'Впечатляющая надежность',
      stats: [{
        img: 'tests',
        text: 'БОЛЕЕ 300 000 КМ ИСПЫТАНИЙ'
      }, {
        img: 'stand',
        text: '40 000 ЧАСОВ ТЕСТОВ НА СТЕНДЕ'
      }, {
        img: 'climateTest',
        text: 'КЛИМАТИЧЕСКИЕ ИСПЫТАНИЯ'
      }],
      hovers: [{
        id: 0,
        //hover-id спанов которых надо выделить
        position: {
          x: 44,
          y: 16
        },
        gif: 'comp_6-kollektor.gif'
      }, {
        id: 1,
        //hover-id спанов которых надо выделить
        position: {
          x: 70,
          y: 29
        },
        gif: 'comp_5-mehanism.gif'
      }],
      text: ['Двигатель Renault ARKANA прошел полный цикл испытаний в экстремальных режимах и полностью адаптирован к климатическим и дорожным условиям.', 'Его блок изготовлен из алюминиевого сплава, а <span data-hover-id="0">выпускной коллектор частично встроен в головку блока для эффективного охлаждения</span>. <span data-hover-id="1">Зеркальное покрытие цилиндров получено за счет плазменной обработки</span>, что снижает трение и оптимизирует тепловой режим работы двигателя.', 'В процессе разработки мотор испытывался по 40 000 часов в лабораторных условиях, что соответствует 14 годам работы по 8 часов каждый день. Помимо этого, прототипы автомобилей с двигателями TCe 150 прошли испытания в мороз и жару, в условиях повышенной влажности и сухого климата.']
    }, {
      a: 'Бесступенчатая трансмиссия',
      stats: [{
        img: 'korpus',
        text: 'МЕНЬШЕ шума и вибрации'
      }, {
        img: 'remen',
        text: 'МЕНЬШЕ трения на 40%'
      }],
      hovers: [
        /*{
         id: 0, //hover-id спанов которых надо выделить
         position: {x: 10, y: 10}
         },
         {
         id: 1, //hover-id спанов которых надо выделить
         position: {x: 40, y: 40}
         },*/
      ],
      text: ['Идеальное сочетание путешествий по Узбекистану: турбированный двигатель TCe-150 и автоматическая трансмиссия CVT X-Tronic с увеличенным диапазоном передаточных чисел.',
        'Это обеспечивает динамичный разгон и в то же время, за счет более точного выбора соотношения, способствует снижению расхода топлива. Кроме того, продуманная конструкция позволяет снизить уровень шума и трения.']
    }],

    /*   PLATFORM   */
    openPlatform: null,
    platformImg: '',
    platforms: [{
      title: 'Высокопрочная сталь',
      subtitle: 'Более жесткий кузов не только обеспечивает высокий уровень безопасности, но и вносит значительный вклад в улучшение комфорта и управляемости, а также снижение уровня шумов и ',
      text: '',
      img: ''
    }, {
      title: 'Безопасность в пути',
      subtitle: 'Более жесткий кузов не только обеспечивает высокий уровень безопасности, но и вносит значительный вклад в улучшение комфорта и управляемости, а также снижение уровня шумов и ',
      text: '',
      img: ''
    }, {
      title: 'Комфорт за рулем',
      subtitle: 'Более жесткий кузов не только обеспечивает высокий уровень безопасности, но и вносит значительный вклад в улучшение комфорта и управляемости, а также снижение уровня шумов и ',
      text: '',
      img: ''
    }, {
      title: 'Высокая управляемость',
      subtitle: 'Более жесткий кузов не только обеспечивает высокий уровень безопасности, но и вносит значительный вклад в улучшение комфорта и управляемости, а также снижение уровня шумов и ',
      text: '',
      img: ''
    }],


  }
  </script>
</body>
