/* _common.scss */

/*
		--Variables--
*/

$color-1: #efdf00;
$color-2: #000000;
$color-3: #ffce33;
$color-4: #95c12b;
$color-5: #010;
$color-special-1: #2e1c11;

$color-red: #EA0029;

$font-family-1: "NouvelR";
$font-family-2: $font-family-1;
$font-family-3: $font-family-1;	

$color-scroll: $color-2;
$color-footer: #0071BC;

$color-gray-1: #f2f1f2;
$color-gray-2: #d9d9d6;
$color-gray-3: #8c8c8b;
$color-gray-4: #656666;
$color-gray-5: #3e3f40;
$color-gray-6: #1f1f1f;



$bg-color-black: #000;

$fs-def: 10;


[class*="col-"]{
	padding-left: 0;
	padding-right: 0;
}
$gradient-1: linear-gradient(to top, #046fb9, #01b2ea);
$gradient-2: linear-gradient(to top, #fcbb1e, #fc6409);
$gradient-gray-1: linear-gradient(to top, #e8e8e8, white);
$gradient-gray-2: linear-gradient(to bottom, #e8e8e8, white);
.gradient-1{ background: $gradient-1; }
.gradient-2{ background: $gradient-2; }
.gradient-gray-1{ background: $gradient-gray-1; }



.color-white{color: white;}
.color-black{color: #000;}
.color-black-2{color: #2b2b2b;}
.color-green{color: #219653;}
.color-gray-1{color: $color-gray-1;}
.color-gray-2{color: $color-gray-2;}
.color-gray-3{color: $color-gray-3;}
.color-gray-4{color: $color-gray-4;}
.color-gray-5{color: $color-gray-5;}

.color-gray{color: $color-gray-4;}

.color-1{color: $color-1;}
.color-2{color: $color-2;}
.color-3{color: $color-3;}
.color-4{color: $color-4;}
.color-5{color: $color-5;}
.color-special-1{color: $color-special-1;}
.color-bronze{color: #e65324;}

.bg-color-white{background-color: white;}
.bg-color-black{background-color: $bg-color-black;}
.bg-color-gray-1{background-color: $color-gray-1;}
.bg-color-gray-6{background-color: $color-gray-6;}

.bg-color-1{background-color: $color-1;}
.bg-color-2{background-color: $color-2;}
.bg-color-3{background-color: $color-3;}
.bg-color-4{background-color: $color-4;}
.bg-color-5{background-color: $color-5;}
.bg-color-special-1{background-color: $color-special-1;}
.bg-black-fill{background-color: #131313}

html .bg-color-transparent{background-color: transparent;}

.hr-color-1{
	border-color: #c4c4c4;
}

/*
			--SCROLLING--
*/

// CHROME
::-webkit-scrollbar{
	width: 3px;
	position: absolute;
	height: 5px;
}
 ::-webkit-scrollbar-thumb{
 	border-radius: 5px;
 	z-index: 500;
	background-color: lighten($color-scroll, 0%);
}
::-webkit-scrollbar-thumb:hover{
	background-color: darken($color-scroll, 5%);
} 
::-webkit-scrollbar-thumb:active{
	background-color: darken($color-scroll, 10%);
}
::-webkit-scrollbar-track-piece{
	background-color: white;
	border-radius: 5px;
}
// OPERA
::-o-scrollbar{
	width: 3px;
	position: absolute;
}
::-o-scrollbar-thumb{
	z-index: 500;
	border-radius: 5px;
	background-color: lighten($color-scroll, 5%);
}
::-o-scrollbar-thumb:hover{
	background-color: darken($color-scroll, 5%);
} 
::-o-scrollbar-thumb:active{
	background-color: darken($color-scroll, 10%);
}
::-o-scrollbar-track-piece{
	border-radius: 5px;
	background-color: white;
}
::selection {
    background: $color-1;
    color: #fff;
    text-shadow: none;
}


@for $i from 1 through 20{
	.text-x#{$i}, .text-x#{$i}-u, .text-x#{$i}-b, .text-x#{$i}-bu{
		font-size: (8+(2*$i))#{"px"};
	}
	.text-x#{$i}-b{font-weight: 700;}
	.text-x#{$i}-u{text-transform: uppercase;}
	.text-x#{$i}-bu{font-weight: 700; text-transform: uppercase;}
}
@media (max-width: 991px){
	@for $i from 1 through 20{
		.mobile\:text-x#{$i}, 
		.mobile\:text-x#{$i}-u, 
		.mobile\:text-x#{$i}-b, 
		.mobile\:text-x#{$i}-bu{
			font-size: (8+(2*$i))#{"px"};
		}
		.mobile\:text-x#{$i}-b{font-weight: 700;}
		.mobile\:text-x#{$i}-u{text-transform: uppercase;}
		.mobile\:text-x#{$i}-bu{font-weight: 700; text-transform: uppercase;}
	}
}


.border-1{border: 1px solid $color-gray-1;}
.border-2{border: 1px solid $color-gray-2;}
.border-3{border: 1px solid $color-gray-3;}











/*
			---LIST---
*/
[class*='list-style']{
	ul:not([class]){
		text-align: left;
		margin: 15px 0;
		li{
			padding-left: 15px;
		}
		margin: auto 15px;
		list-style: disc;
		line-height: 170%;
	}
	&.inside{
		li{
			list-style-position: inside;
		}
	}
	&.outside{
		li{
			list-style-position: outside;
		}
	}

}

.list-style-1{
	ul:not([class]){
		font-size: 0.95em;
		position: relative;
		padding-left: 15px;
		li{
			list-style: none;
			margin-bottom: 5px;
			list-style-position: outside;
			list-style-image: url('../img/icons/list-icon.png');
			@media (min-width: 992px) {
				padding-left: 5px;
			}
		}
	}

}
























/*
		--BREADCRUMP--
*/
.breadcrumb-container{
	position: relative;
}
.breadcrumb{
	padding: 20px 0;
	font-size: 12px;
	z-index: 1;
	position: relative;
	font-weight: 500;
	border-radius: 0;
	background-color: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
	@media (min-width: 992px) {
	}
	&, a, .active{ 		
		a:hover{
			transform: translateY(-5px);
			text-decoration: none;
			
		}
	}
	.icm, .fa{
		vertical-align: middle;
	}
	a{
		vertical-align: middle;
		color: #666;
	}
	.active{
		a{
			
		}
	}
	& > li + li:before{
		color: #666;
		//font-family: FontAwesome;
		content: ">";
		font-weight: normal;
		font-size: 1em;
		margin: 0 0px;
		font-family: monospace;
    vertical-align: middle;
    margin-right: 3px;
	}
	li{
		vertical-align: baseline;
		&:nth-child(1){
			a{
				//color: $color-1;
			}
		}
	}
	@media (min-width: 992px) {
	}
	@media (max-width:991px) {
		li{
			//width: 100%;
			//display: block;
		}
	}
}










/*
			--TABLE--
*/
.table-content{
	overflow-x: auto;
	
}
.table > thead > tr > th, table > thead > tr > th, .table > thead > tr > td, table > thead > tr > td, .table > tbody > tr > th, table > tbody > tr > th, .table > tbody > tr > td, table > tbody > tr > td, .table > tfoot > tr > th, table > tfoot > tr > th, .table > tfoot > tr > td, table > tfoot > tr > td{
	border: none;	
	padding: 3px 15px; 
}
table { 
	border-collapse: collapse;
	width: 100%;
	font-family: $font-family-2;
	color: $color-gray-5;

	a{
		&:hover{
			text-decoration: underline;
		}
	}
	thead{
		tr{
			th{
				padding: 15px 30px;
				color: white;
				font-weight: 600;
				background-color: $color-1;
				font-size: em(16);
			}
		}
	}
	td, th{
		&:nth-child(1){
			border-radius: 6px 0 0 6px;
		}
		&:nth-last-child(1){
			border-radius: 0 6px 6px 0;
		}
	}
	a{
		color: $color-1;
	}
	tbody{		
		tr{
			td{
				border-color: rgba($color-gray-1, 1);
				padding: 15px 30px;
				&:nth-child(1){
					font-weight: 500;
				}
				&:nth-child(2){
					color: $color-gray-4;
				}
			}
		}
		tr:nth-child(odd){
			background-color: transparent;
		}
		tr:nth-child(even){
			background-color: #f6f6f6;
		}
	}

}




[class*="hover-color"] a, 
[class*="hover-underline-def"] a, 
[role="button"]
	{transition: all 0.3s ease-in-out;}


.hover-color-1 {
	a:hover{color: $color-1;}
	[role="button"]:hover{color: $color-1;}
}
.hover-color-2 {
	a:hover{color: $color-2;}
	[role="button"]:hover{color: $color-2;}
}
.hover-color-3 {
	a:hover{color: $color-3;}
	[role="button"]:hover{color: $color-3;}
}
.hover-color-4 {
	a:hover{color: $color-4;}
	[role="button"]:hover{color: $color-4;}
}
.hover-underline-def a:hover{text-decoration: underline;}

.hover-img{
	img{
		transition: filter 0.3s ease;
		filter: brightness(95%);
		&:hover{
			filter: brightness(115%);
		}
	}
}



.ff-1{font-family: $font-family-1;}
.ff-2{font-family: $font-family-2;}
.ff-3{font-family: $font-family-3;}


.btn-res{
	background-color: transparent;
	border: 0;
	padding: 0;
}


.info-success{
	color: #3da835;
}
.info-error{
	color: red;
}

.text-indent{
	text-indent: 30px;
}

.letter-3{
	letter-spacing: 3px;
}
.font-size-nm{
	font-size: 18px;
}
.font-size-big{
	font-size: 54px;
}

.img{
	background-repeat: no-repeat;
	background-position: center;
}
.shadow-def{
	box-shadow: 0 0 22px -3px rgba(black, 0.1);
}
.shadow-box-1{
	box-shadow: 0 2px 4px 0 rgba(black, 0.1);
}
.shadow-row{
	box-shadow: 0 5px 15px -15px rgba(black, 0.8);
}
.shadow-style-1{
	box-shadow: 0px 0px 30px -4px rgba($color-1, 0.6);	
}
.border-default{
	border: 1px solid $color-gray-3;
}
.border-style-1{
	border-radius: 15px;
	border: 1px solid $color-gray-3;
}
.full-h{
	height: 100%;
}

.fuller{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	&:not([class*="col-"]){
		width: 100%;
	}
}
.claf{
	@extend .fuller;
	content: " ";
}
.clafclear{
	content: " ";
	height: 100%;
	width: 100%;
	position: absolute;
}

@for $i from 1 through 6 {
	.boxes-#{$i}{
		figure, .cell{
			width: #{100%/$i};

			@media (max-width: 1200px){
				@if $i >= 3{
					width: 50%;
				}
			}
			@media (max-width: 991px){
				width: 100%;
			}
		}
	}
}

[class*="boxes-"]{
	margin-left: -10px;
	margin-right: -10px;
	&:not(.serried){
		figure, .cell{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.serried{
		margin-left: 0;
		margin-right: 0;
	}
	&:not(.owl-carousel){
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 991px){
		  width: 100%;
    	margin: auto;
			figure, .cell{
				padding-left: 0;
				padding-right: 0;
			}
		}
		@media (max-width: 991px){
			flex-direction: column;
		}
	}
}
[class*="boxes-"].boxes-xs-2{
	@media (max-width: 991px){
		flex-direction: row;
		margin-left: -10px;
		margin-right: -10px;
		figure{
			width: 50%;
			padding-left: 10px;
			padding-right: 10px;
			.fig-wrapper{
			}
		}
	}
}



.cells{
	display: flex;
	flex: 1 1;
	flex-wrap: wrap;
}



.hover-img-scale{
	img{
		transition: transform 0.3s ease;
	}	
	a, .this-link{
		&:hover{
			img{
				transform: scale(1.08);
			}
		}
	}
}


div.btn-style{
	display: block;
}
.btn-style{
	display: inline-block;
	//white-space: nowrap;
	text-align: center;	
	overflow: hidden;
	font-family: $font-family-1;
	border-radius: 0;
	font-weight: 700;
	//box-shadow: 0 6px 30px rgba($color-1, 0.5);
	&.text-wrap{
		white-space: wrap;
	}
	button{
		@extend .btn-res;
		width: 100%;
		font-weight: inherit;
	}
	a, button, .btn-this{		
		line-height: normal;
		position: relative;
		align-items: center;
		//min-width: 190px;
		color: inherit;
		line-height: 100%;
		padding: 1.5rem 1.5rem;
		&:not([class*="flex"]){
			display: block;
		}
	}
	i{
		vertical-align: middle;
	}
}


.btn-icon{
	a{
		position: relative;
    padding-right: 32px;
    padding-left: 56px;
	}
	svg{
		fill: white;
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 16px;
		width: 22px;
		transition: all 0.3s ease;
	}
}



.btn-def{
	@extend .btn-style;
	transition: all 0.3s ease;
	position: relative;
	background-color: black;
	color: white;
	font-size: 1.6rem;
	//hover
	&:hover, &.hovered{
		background-color: $color-1;
		color: $color-2;
	}

	&:active{
		border-color: transparent;
		transform: translateY(2px);
	}
	&:hover{
		svg{
			fill: black;
		}
	}
}

.btn-opacity{
	@extend .btn-style;
	background-color: transparent;
	border: 1px solid currentColor;
	color: black;
	transition: all 0.3s ease-in-out;
	svg{
		fill: black;
	}
	&:hover{
		background-color: black;
		color: white;
		svg{
			fill: white;
		}
	}
}

.link-def{
	color: black;
	font-weight: 700;
	position: relative;
	a, .this-link{
		padding-right: 15px;
		position: relative;
		&:after{
			content: "";
	    transform: rotate(45deg);
	    display: inline-block;
	    width: .6em;
	    height: .6em;
	    margin-left: 6px;
	    border: 2px solid $color-1;
	    border-width: 2px 2px 0 0;
	    vertical-align: middle;
	    position: absolute;
	    top: calc(50% - 0.2em);
	    right: 0;
		}
		&:hover{
			&:after{
				border-color: $color-2;
			}
		}
	}
}





[data-flicker]{
	&:before{
		@extend .claf;
    opacity: 0.1;
    top: 0;
    transform: scale(1.2);
    left: 0;
		content: attr(data-flicker);
	}
}






/*
										---COMMON---
*/


.pagination-div{

	.pagination{

		letter-spacing: -4px;
		*{
			letter-spacing: 0;
		}
		
		li{
			display: inline-block;
			margin: 0;
			margin-right: 2px;
			margin-top: 2px;
			font-weight: 600;
			text-align: center;
			background-color: transparent;
			transition: all 0.3s ease;
			//border: 1px solid $color-gray-1;
			a{
				color: $color-1;
				display: block;
				background-color: transparent;
				padding: 5px 10px;
			}
			&:hover{
				//transform: scale(0.9);
				a{
					//background-color: rgba($color-1, 0.3);
					color: $color-1;
				}
			}
			&.color-black{
				a{
					font-size: 1.3em;
					color: black;
				}
			}
			&.active{
				background-color: $color-gray-1;
				border-radius: 5px;
				a{
					color: $color-gray-5;
				}
				&:hover{
					a{
						cursor: pointer;
						background-color: transparent;
					}
				}
				a{
					background-color: transparent;
				}
			}
		}

		.next{
			color: $color-4;
			.fa{
				margin-top: 4px;
			}
			a{
				color: $color-4;
			}
		}
		.arrow{
			a{
				transition: all 0.3s ease;
				width: 35px;
				height: 35px;
				border: 1px solid $color-1;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: white;
				font-size: 25px;
			 	padding: 0;
			 	&:hover{
			 		background-color: $color-1;
			 		color: white;
			 	}
			}
			//width: 50px;
			//height: 50px;
		}
		.pagination-end{
			width: auto;
			border-radius: 15px;
			height: 33px;
		}
	}
	.float-right{
		position: absolute;
		text-decoration: underline;
    right: 0px;
	}
}








// ---bg---

.h-clear{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 100%;
}



.parag-gray{
	p:not([class*="color"]){
		color: #666666;
	}
}
body{
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font-family: $font-family-1, sans-serif;
	overflow-x: hidden;
	color: #000;
	line-height: 1.45;
	direction: ltr;
	//height: auto;
	//background-image: url('../img/bg/bg-body.jpg');
	//background-color: $color-gray-1;
	background-repeat: repeat-y;
	//animation: bodyanime 900s linear infinite;
	@media (max-width: 991px){
		
	}
}


p, li, ul, menu{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
menuitem{
	display: inline-block;
}
a{
	color: inherit;
}
a:hover, a:active, a:focus{
	text-decoration: none;
	color: inherit;
}

img,
a:focus,
button, 
button:hover, 
button:active, 
button:focus{
	outline: none;
}
img{
	max-width: 100%;
}

ul{
	position: relative;
	list-style: none;
	&:hover{
		cursor: default;
	}
}
ol{
	text-align: left;
	padding-left: 0;
	margin-top: 10px;
	list-style-position: inside;
	li{
		line-height: 150%;
	}
}
hr{
	margin-top: 15px;
	margin-bottom: 15px;
	&.style-1{
		height: 1px;
		background-color: black;
		border: none;
		width: 50px;
	}
	&.style-2{
		height: 4px;
		background-color: $color-1;
		border: none;
		width: 50px;
	}
}
input:focus, button:focus{
	outline: transparent;
}
b{font-weight: 700;}
strong{font-weight: 700;}
bolder{
	font-weight: 900;
}
textarea{
	&:focus{
		outline: 0;
	}
}
button:hover, button:focus{
	cursor: pointer;
}
label{
	margin-bottom: 0;
	font-weight: 500;
	width: 100%;
}
thin{
	font-weight: 200;
}
thined{
	font-weight: 100;
}
h1 small{
	font-weight: inherit;
}

h1,h2,h3,h4,h5{
	color: inherit;
	line-height: 140%;
	font-weight: 700;
	
}
.h1{
	@extend h1;
}
.h2{
	@extend h2;
}

h1, h2, h3{
	line-height: 120%;
}
h1, h2, h3, h4{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;	
}
h1{
	font-size: 3.5rem;
	margin-bottom: 24px;
	font-weight: 700;
	@media (max-width: 991px){
		font-size: 2.8rem;
	}
}
h2{
	font-size: 2.8rem;
	margin-bottom: 15px;
	text-transform: uppercase;
} 
h3{
	font-size: 2.4rem;
}
h4{
	font-size: 1.6rem;
	font-weight: 700;
}
h5{	
	font-size: 1.3rem;
	line-height: 150%;
	font-weight: 400;
}

blockquote{
	padding: 5px;
	padding-left: 40px;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-gray-1;
	border-left: 28px solid $color-1;
	margin-top: 15px;
	margin-bottom: 15px;
	h3{
		font-weight: 700;
		line-height: 100%;
		padding: 0;
		margin: 0;
	}
	p{
		font-weight: 600;
		font-size: 0.8em;
	}
}

main{
	//position: relative;
	font-size: 1.4rem;
	background-color: white;
	overflow: inherit;
	z-index: 1;
	@media (max-width: 991px){
		
	}
	ul:not([class]){
		text-align: left;
		list-style: disc;
    padding-left: 17px;
	}
	.line-height-def{
		&, p{
			line-height: 100%;
		}
	}

	p{
		line-height: 20px;
	}

}


hr{
	border-color: rgba(165, 165, 165, 0.30);
}
.info-success{
	color: #3da835;
}
.info-error{
	color: red;
}
.letter-none{
	letter-spacing: -6px;
	*{letter-spacing: 0;}
}

.viewnamefile{
	text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.text-item{
	iframe{
		width: 100%;
		height: 400px;
		margin-left: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		@media (max-width: 991px) {
			height: 210px;
			width: 100%;
			margin-left: auto;
		}
	}
	h3, h2{
		margin-bottom: 1em;
	}
	&>img{
		margin-top: 0;
	}
	p, li{
		font-size: 1em;
	}
	p{
		line-height: 156%;
	}
	p:not([class*="color-"]){
		margin-bottom: 15px;
		@media (min-width: 1600px){
			margin-bottom: 18px;
		}
		@media (max-width: 991px) {
			//text-align: justify;
			line-height: 125%;
			font-size: 14px;
		}
	}
}

html{
	font-size: $fs-def+px;
	
	.form-control{
		background-color: transparent;
		border: 1px solid $color-gray-3;
		border-radius: 0;
		color: black;
		box-shadow: none;
		&:focus{
			border-color: black;
			box-shadow: none;
		}
		@include placeholder-color(gray);
	}
	input.form-control{
		height: 50px;
	}
	textarea.form-control{
		height: 130px;
		padding: 10px 15px;
		border: 1px solid $color-gray-3;
		resize: none;
	}
}
.ant-type{
	position: relative;
	.ant{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.input-title{
	display: inline-block;
	margin-bottom: 5px;
	font-family: $font-family-2;
	font-weight: 400;
}

.placeholder-focus{
	position: relative;
	.placeholder{
		position: absolute;
		left: 0;
		top: 0;
		font-size: em(14);
		color: $color-gray-5;
		display: inline-block;
		transition: 0.3s ease;
		pointer-events: none;
		transform-origin: 0 0;
	}
	.form-control{
		&:focus, &.focused{
			&~.placeholder{
				transform: translateY(-35px) scale(0.8);
			}
		}
	}
}

.input-icon{
	position: relative;
	.fa{
		font-size: 18px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
		color: $color-gray-3;
	}
	.fa-envelope{
		font-size: 15px;
	}
	input{
		padding-left: 45px;
	}
}

.deactive{
	opacity: 0.5;
	pointer-events: none;
}

//Стиль галок
//checkbox
input[type="checkbox"]:checked{
	&~.checkbox-style-1, &~label .checkbox-style-1{
		background-color: black;
		&.bg-color-1{
			background-color: $color-1;
		}
		&:before{
			border-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			font-family: FontAwesome;
			content: "\f00c";
			color: white;
		}
	}		
}
.checkbox-style-1{
	width: 20px;
	height: 20px;
	min-width: 20px;
	display: inline-block;
	//transition: all 0.05s ease;
	background-color: transparent;
	position: relative;
	border-radius: 0;
	&:hover{
		cursor: pointer;
	}
	&:before{
		@extend .claf;
		@extend .trans-center;
		border-radius: 0;
		border: 2px solid $color-gray-5;
	}
}
//radio
input[type="radio"]:checked, .radio-style-1:checked{
	&~.radio-style-1, &~label .radio-style-1{
		&:before{
			opacity: 1;
		}
	}		
}
label{
	font-weight: inherit;
}
.radio-style-1{
	width: 20px;
	flex-shrink: 0;
	height: 20px;
	border-radius: 3px;
	display: inline-block;
	//transition: all 0.05s ease;
	background-color: $color-gray-2;
	position: relative;
	border: 2px solid $color-gray-5;
	border-radius: 50%;
	&:hover{
		cursor: pointer;
	}
	&:before{
		@extend .clafclear;
		opacity: 0;
		border-radius: 50%;
		left: 0;
		top: 0;
		background-color: black;
		transform: scale(0.7);
	}
}

.radio-style-2{
	@extend .radio-style-1;
	width: 12px;
	height: 12px;
}

label.error{
	color: $color-red;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.form-control.error{
	border: 1px solid $color-red;
	&:focus{
		border-color: $color-red;
	}
}
[name="iagree"]{
	
	&.error~span{
		&:before{
			border-color: $color-red;
		}
	}
}
#iagree-error{
	@media (max-width: 991px){
		display: none !important;
	}
	@media (min-width: 992px){
		position: absolute;
		transform: translateX(-100%);
		width: 120px;
		margin-top: 3px;
		margin-bottom: 0;
	}
}


