/*
	_content.css
*/
@import "../fonts/icomoon/style.scss";
.icm {
  vertical-align: middle;
}
html small {
  font-weight: inherit;
}

small {
  font-size: 85%;
}

.container-p,
.container-p-2 {
  margin-left: auto;
  margin-right: auto;
}
.container-p {
  width: 100%;
  @media (min-width: 1900px) {
    //max-width: 1800px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 1899px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 991px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container-min {
  @extend .container;
  @media (min-width: 992px) {
    max-width: 700px;
  }
}
.h-style-1 {
  position: relative;
  line-height: 100%;
  padding-bottom: 0.7em;
  &:after {
    content: "";
    position: absolute;
    width: 70px;
    transition: all 0.5s ease;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    bottom: 0;
    left: 0;
    @media (max-width: 991px) {
      //display: none;
    }
  }
}
.hover-underline {
  a, .this-btn{    
    position: relative;
    line-height: 100%;
    &:before {
      display: inline-block;
      @extend .clafclear;
      height: 1px;
      background-color: #000;
      bottom: -5px;
      left: 0;
      width: 0;
      transition: 0.35s ease;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}
.img-contain {
  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }
}
.accordion-def {
  .panel {
    margin-bottom: 0;
    border-bottom: 1px solid $color-gray-1;
    box-shadow: none;
  }
  [data-toggle="collapse"] {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 15px 15px;
    .fa {
      font-size: 25px;
      transform: rotate(180deg);
    }
    &[aria-expanded="true"] {
      background-color: black;
      color: white;
      .fa {
        transform: rotate(0);
        color: $color-1;
      }
    }
  }
  &.style-1{
    a{
      border: 1px solid $color-gray-1;
    }
    .accordion-def-body{
      background-color: white;
      padding: 35px 0;
      color: black;
    }
  }
}
.accordion-def-body {
  padding: 35px 20px;
  background-color: $color-gray-1;
  color: $color-gray-4;
  p {
    font-size: 11px;
  }
}
:root {
  --swiper-theme-color: #efdf00;
}
.swiper-init-block{
  overflow: hidden;
  position: relative;
}
.swiper-def{
  overflow: hidden;
  position: relative;

  .swiper-btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
    svg {
      color: white;
    }
    .swiper-button{
      width: 30px;
      height: 60px;
      background-color: rgba($color-2, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      &.swiper-button-disabled{
        display: none;
      }
      &:after{
        transform: scale(.3);
      }
    }

  }
  .swiper-pagination {
    margin-top: 15px;
    padding: 15px 0;
    position: relative;
    bottom: auto;
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      opacity: 1;
      background-color: white;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 19px;
        height: 19px;
        display: block;
        left: -3px;
        top: -3px;
        border-radius: 50%;
        border: 1px solid $color-1;
        //transform: scale(1.7);
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color-1;
      &:before {
        opacity: 1;
      }
    }
  }
}


.swiper {
  //display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
    svg {
      color: white;
    }
    .swiper-btn-prev,
    .swiper-btn-next {
      width: 30px;
      height: 60px;
      background-color: rgba($color-2, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 6px;
  }
  .swiper-pagination {
    padding: 15px 0;
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      opacity: 1;
      background-color: white;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 19px;
        height: 19px;
        display: block;
        left: -3px;
        top: -3px;
        border-radius: 50%;
        border: 1px solid $color-1;
        //transform: scale(1.7);
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color-1;
      &:before {
        opacity: 1;
      }
    }
  }
}
.is-covered {
  height: 100%;
  object-fit: cover;
}

.text-summary {
  font-size: 1.8rem;
  position: relative;
}
.entry-header {
  p {
    font-size: 1.8rem;
  }
}

// PAGES
.bnr {
  overflow: hidden;
  .slide-wrapper {
    position: relative;
  }
  .img-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    video {
      width: 100%;
    }
    img{
      object-position: bottom;
    }
  }
  .text-content {
    height: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    height: 600px;
  }
  .btn-def {
    a {
      //padding-top: 10px;
      //padding-bottom: 10px;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .desc-content {
    left: 45px;
    width: 45%;
    padding: 24px 32px;
    position: relative;
    color: white;
    &.bg-style-white {
      background-color: rgba(white, 0.8);
      color: black;
    }
    @media (min-width: 992px) {
      &:not(.bg-style-white) {
        .btn-def {
          color: white;
          border: 1px solid currentColor;
          background-color: transparent;
          &:hover {
            border-color: $color-1;
          }
        }
      }
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      margin-top: 0;
    }
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 991px) {
    .swiper-btns {
      display: none;
    }
    .img-content {
      display: flex;
      align-items: flex-end;
      img, picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
    .text-content {
      height: 420px;
      top: 0;
      width: 100%;
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      // left: 0;
      transform: none;
      position: relative;
      align-items: flex-start;
    }
    h1 {
      margin-bottom: 0;
    }
    .btn-def {
    }
    .desc-content {
      width: 100%;
      left: 0;
      padding: 10px 15px;
      background-color: rgba(white, 0.8);
      color: black;
    }
  }
}

.close-span {
  position: absolute;
  top: 12px;
  right: 11px;
  text-align: left;
  width: 22px;
  height: 22px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    background-color: #777;
    position: absolute;
    height: 1px;
    width: inherit;
    top: 8px;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}
.img-ratio-1 {
  picture {
    padding-top: calc((2 / 3) * 100%);
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}
.img-ratio-2 {
  img{
    object-fit: scale-down;
  }
  picture {
    padding-top: calc((9 / 16) * 100%);
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.desc-style-1 {
  h5 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
.pic-absolute {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bnr-page {
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 240px;
    max-height: 600px;
    overflow: hidden;
    .entry-header {
      width: 100%;
      padding: 32px 128px;
      @media (max-width: 991px) {
        padding: 30px 25px;
      }
    }
  }
  .desc-content {
    position: relative;
  }
  .img-content {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 3rem;
  }
  &.full-style {
    .img-content {
      position: relative;
    }
    .entry-header {
      padding: 0;
    }
  }
}

.offers-icolinks-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  figure {
    margin: 10px;
    @media (max-width: 991px) {
      width: 100%;
      max-width: 360px;
    }
  }
  .wrapper {
    transition: background-size 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    min-height: 80px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $color-gray-2;
    &:hover {
      background-size: 100% 100%;
      .desc-content {
        color: white;
      }
    }
    @media (min-width: 992px) {
      background: linear-gradient(#000, #000) top/100% 50% no-repeat;
      width: 195px;
      height: 180px;
      padding: 0 16px;
      flex-direction: row;
      align-items: flex-start;
    }
    @media (max-width: 991px) {
      flex-direction: row;
      picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 25%;
        background-color: #000;
        height: auto;
        flex-shrink: 0;
      }
      .desc-content {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        padding: 16px;
        color: #000;
        font-size: 2rem;
        line-height: 1.15;
        text-align: left;
        font-weight: 700;
        height: 100%;
      }
    }
  }
  .desc-content {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-weight: 700;
    color: black;
    font-size: 2rem;
    line-height: 1.15;
    display: flex;
    align-items: center;
    flex-basis: auto;
    padding: 5px 0;
    height: 50%;
  }
  picture {
    display: flex;
    align-items: center;
    flex-basis: auto;
    height: 50%;
    img {
      width: 48px;
      height: 48px;
      fill: #fff;
    }
    @media (min-width: 991px){
      width: 100%;
    }
  }
}
.link-li-1 {
  li {
    position: relative;
    &:before {
      @extend .clafclear;
      width: 100%;
      height: 3px;
      background-color: $color-1;
      left: 0;
      bottom: 0;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &.active {
      font-weight: 700;
      &:before {
        opacity: 1;
      }
    }
  }
}

.nav-sub {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  .wrapper {
    height: 60px;
    background-color: white;
    justify-content: center;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.2);
    ul {
      overflow-x: auto;
      padding-left: 0;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      @media (max-width: 991px){
        justify-content: normal;
        font-size: 12px;
      }
    }
    li {
      flex-shrink: 0;
      list-style: none;
      text-transform: uppercase;
      margin-left: 10px;
      margin-right: 10px;
      height: 100%;
      a {
        white-space: nowrap;
        height: 100%;
        align-items: center;
        display: flex;
      }
    }
  }
  .btn-content{
    @media (max-width: 991px){
      top: calc(100vh - 60px);
      width: 100%;
      position: absolute;
      justify-content: center;
      .btn-opacity{
        background-color: $color-2;
        color: white;
        border: 0;
      }
    }
  }
}
.nav-def {
  .img-contain {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .r-tabs-accordion-title {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    a {
      display: flex;
      align-items: center;
      padding: 15px 0;
      padding-right: 50px;
      position: relative;
      border-bottom: 1px solid $color-gray-2;
      &:before,
      &:after {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        content: "";
        width: 10px;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.5s;
      }
      &:before {
        transform: translateY(-50%) rotate(45deg);
        right: 22px;
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg);
        right: 16px;
      }
    }
    .img-contain {
      margin: 0 0;
    }
    .text {
      margin-left: 20px;
      margin-top: 0;
    }
    &:before {
      height: 1px;
      background-color: $color-gray-2;
      width: 100%;
      opacity: 1;
    }
    &.r-tabs-state-active {
      a {
        border-bottom: 3px solid $color-1;
        &:before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &:after {
          transform: translateY(-50%) rotate(45deg);
        }
        &:before,
        &:after {
          background-color: $color-1;
        }
      }
    }
  }
  li {
    margin: 15px;
    position: relative;
    a {
      display: block;
      font-size: 1.6rem;
    }
    &.r-tabs-state-active {
      font-weight: 600;
      &:before {
        opacity: 1;
      }
    }
  }
  @media (max-width: 991px) {
    ul {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
.corporate-advert-items {
  figure {
    padding-top: 30px;
    padding-bottom: 30px;
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-2;
    }
    &.flex {
      max-width: 700px;
    }
    .img-content {
      margin-right: 40px;
      flex-shrink: 0;
    }
    img {
      width: 48px;
    }
    @media (max-width: 991px) {
      padding-top: 10px;
      padding-bottom: 15px;
      .img-content {
        margin-right: 15px;
      }
    }
  }
}
.index-news{
  .index-news-items{
    figure{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .desc-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
.form-success-block{
	display: none;
	&.active{
		display: block;
	}
}
.pe-none{
	pointer-events: none;
}
.credits-partners-items{
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	@media (max-width: 991px){
		justify-content: center; 
	}
	.cell{
		width: 250px;
		height: 150px;
		padding-left: 15px;
		padding-right: 15px;
		@media (min-width: 992px){
			width: 250px;
			height: 150px;
		}
	}
	.img-content{
		height: 100%;
		width: 100%;
		
		position: relative;
		border: 1px solid $color-gray-3;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 80%;
			max-height: 80%;
			transform: translate(-50%,-50%);
		}
	}
}
.credit-steps-items {
  display: flex;
  justify-content: center;
  figure {
    max-width: 355px;
    text-align: center;
    &:nth-child(1) {
      .img-content {
        &:before {
          display: none;
        }
      }
    }
    &:nth-last-child(1) {
      .img-content {
        &:after {
          display: none;
        }
      }
    }
  }
  .img-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    img {
      width: 55%;
    }
    &:before,
    &:after {
      @extend .clafclear;
      height: 1px;
      background-color: black;
      width: calc(50% - 24px);
      top: calc(50% - 1px);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .desc-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  picture {
    border: 1px solid black;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    figure {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: none;
      min-height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      text-align: center;
      .desc-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .img-content {
        justify-content: center;
        margin-bottom: 0;
        //margin-top: 10px;
        //margin-bottom: 10px;
        height: auto;
        &:before,
        &:after {
          left: calc(50% - 1px);
          right: auto;
          width: 1px;
          height: calc(50% - 24px);
        }
        &:before {
          top: auto;
          bottom: calc(50% + 24px);
        }
        &:after {
          bottom: auto;
          top: calc(50% + 24px);
        }
      }
    }
  }
}

$yellow: #efdf00;

.credit-slider {
  .wrapper {
    margin: 0 auto;
    max-width: 1170px;
    overflow: hidden;
    .view {
      height: 499px;
      position: relative;
      width: 100%;
      overflow: hidden;

      &.animate {
        .info.active {
        }
      }
    }
    img {
      max-width: none;
    }
  }
  .background {
    width: 2775px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    .bg {
      opacity: 0;
      position: absolute;
      top: 0;
      height: 100%;

      &--active {
        opacity: 1;
        left: 0;
        z-index: 1;
      }
      &--next {
        opacity: 1;
        left: 100%;
      }
    }
    &.animated {
      .bg {
        transition: all 2s;
      }
      .bg--active {
        left: -100%;
      }
      .bg--next {
        left: 0;
      }
    }
  }
  .car {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
    &--active {
      opacity: 1;
      z-index: 1;
    }

    &__image {
      transition: all 1s;
    }
    &__wheel {
      position: absolute;
      bottom: 10px;
      // transition: all .3s;
      &-1 {
        left: 120px;
      }
      &-2 {
        left: 598px;
      }
      &.spin {
      }
    }
    &.animate {
      // &.car--active {
      //   opacity: 0;
      // }
      // &.car--next {
      //   opacity: 1;
      // }
      .car__image {
        animation: movingCar 2s;
      }
      .car__wheel {
        animation: rotateWheel 2s;
      }
    }
  }
  .info {
    position: absolute;
    height: 100%;
    width: 33.3333%;
    background: rgba(0, 0, 0, 0.85);
    top: 100%;
    color: #fff;
    padding: 20px 30px;
    transition: all 1s;
    z-index: 5;
    // display: flex;
    // flex-direction: column;

    &.active {
      top: 0;
    }

    a {
      color: #fff;
    }

    &-list {
      &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &-icon {
          flex: 0 0 60px;
        }
        &-title {
          border-left: 1px solid $yellow;
          padding-left: 14px;
          font-weight: bold;
          font-size: 20px;
        }
        &-description {
          margin-top: 36px;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
        }
        &-teaser {
          margin-top: 16px;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
          a {
            font-size: 12px;
            text-decoration: none;
            border-bottom: 1px dotted #fff;
            img {
              margin-left: 5px;
            }
          }
        }

        & + & {
          margin-top: 35px;
        }
      }
    }

    &-1 {
      left: 0;
    }
    &-2 {
      left: 33.3333%;
    }
    &-3 {
      left: 66.6666%;
    }
  }
  .thumbs {
    display: flex;
    background: #e5e5e5;
    border: 2px solid #e5e5e5;

    &__item {
      flex: 0 0 33.3333%;
      padding: 12px 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &.active {
        background: #fff;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      padding-left: 15px;
    }
    &__car {
      margin-right: 5px;
    }
    &__progressbar {
      margin-top: 18px;
      height: 3px;
      width: 100%;
      background-color: #bebebe;
      display: flex;
      justify-content: flex-end;
      span {
        // opacity: 0;
        // width: 0%;
        content: "";
        height: 100%;
        display: block;
        background: $yellow;

        .active & {
          width: 100%;
        }
        .animate & {
          animation: progress 4s linear forwards;
        }
      }
      &.active span {
        width: 100%;
      }
    }
  }

  .play-btn {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 98px;
    height: 98px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3;
    img {
      margin-left: 10px;
    }
    &:hover {
      box-shadow: 0 0 0 10px $yellow;
      img {
        display: none;
      }
      &:before {
        content: "поехали!";
        display: block;
        // text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  // media
  @media (max-width: 1140px) {
    .thumbs__item {
      flex-direction: column;
      align-items: flex-start;
    }
    .info-list__item-teaser {
      line-height: 1;
    }
  }

  @media (max-width: 768px) {
    .info {
      width: 100%;
      left: 0;
    }
    .wrapper {
      .view {
        height: 380px;
      }
    }
    .background {
      width: 2111.1111px;
      height: 380px;
    }
    .car {
      &__image {
        width: 100vw;
      }
      &__wheel-1 {
        left: 15vw;
      }
      &__wheel-2 {
        left: 73vw;
      }
      &__wheel {
        width: 14.51vw;
        bottom: 0.8vw;
      }
    }
    .info-list {
      &__item {
        &-title {
          font-size: 18px;
        }
        &-teaser {
          font-size: 14px;
          margin-top: 10px;
        }
        & + & {
          margin-top: 25px;
        }
      }
    }
    .play-btn {
      display: none;
    }
  }
}

// keyframes/animations
@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}

@keyframes movingCar {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-0.5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  93% {
    transform: rotate(0.3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.irs--round {
  .irs-min,
  .irs-max {
    border-radius: 0;
  }
  .irs-bar {
    background-color: $color-1;
  }
  .irs-handle {
    border-color: $color-1;
    border: 8px solid #efefef;
    border-radius: 50%;
    box-shadow: 0 6px 3px rgba(black, 0.35);
    width: 30px;
    height: 30px;
    margin-top: -5px;
    background: linear-gradient(#d6d5d1, #fff);
  }
  .irs-single {
    background-color: $color-1;
    border-radius: 0;
    padding: 7px 11px;
    //transform: translate(0px, -10px);
    margin-top: -15px;
    color: black;
    &:before {
      border-top-color: $color-1;
    }
  }
  .irs-grid {
    @media (min-width: 1280px) {
      .irs-grid-text {
        color: transparent;
        visibility: visible !important;
        top: 20px;
        &:before {
          content: " ";
          position: absolute;
          width: 100%;
          color: #808080;
          font-size: 14px;
        }
        &:nth-child(2) {
          &:before {
            transform: translateX(-50%);
          }
        }
        &:nth-last-child(1) {
          &:before {
            transform: translateX(50%);
          }
        }
      }

      @for $i from 0 through 20 {
        .js-grid-text-#{$i} {
          &:before {
            content: ""+ ((5 * $i)+"%");
            //content: "1";
          }
        }
      }
    }
  }
}

.credit-calc {
  background-color: $color-gray-1;
  padding: 30px;
  .wrapper {
  }
}
.credit-calc__models {
  background-color: white;
}
.credit-calc__models-items {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  figure {
    width: 100%;
    max-width: 230px;
    &.active {
      .title-content {
        border-color: $color-1;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .img-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 200px;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 45%;
      width: 100%;
      height: 100%;
    }
  }
  .desc-content {
    text-align: center;
    margin-top: 5px;
  }
  .title-content {
    font-size: 16px;
    font-weight: 700;
    height: 3.6em;
    line-height: 1.2;
    display: inline-block;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
  }
}
.credit-calc__conf {
  background-color: white;
  padding: 40px 25px;
  .price-content {
    font-size: 24px;
    background-color: $color-1;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 7px 15px;
    big {
      font-size: 36px;
    }
  }
  select {
    max-width: 230px;
  }
  .choices {
    //width: 230px;
    .choices__inner {
      height: 50px;
    }
  }
}

.sibls-items {
  .cell {
    position: relative;
    &:not(:first-child):before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: -12px;
      left: -40px;
      border-left: 1px solid #d9d9d6;
    }
  }
}


.model-complectations-items{
  background-color: $color-gray-1;
  .swiper-slide{
    height: auto;
  }
  .desc-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  figure{
    height: 100%;
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(black, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    
  }
  .img-content{
    background-color: $color-gray-1;
    img{
      width: 100%;
    }
  }
}

.kaptur-newoptions-iframe{
  overflow: hidden;
  @media (max-width: 991px){
    font-size: 9.6px;
  }
}
.iframe-el{
  min-height: 0;
  width: 100%;
}

/* Map */
#map{
	height: 450px;
}
ymaps .map-cluster{
	color: white;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05);
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 }



 // Карта
 .dealers-map{
   .dealers-map-wrapper{
     border: 1px solid $color-gray-2;
     position: relative;
     overflow: hidden;
   }
 }
 .map-bar{
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   height: 100%;
   width: 400px;
   box-shadow: 0 2px 10px 0 rgba(black, 0.2);
   .cap-content{
     background-color: $color-1;
     font-weight: 700;
     color: black;
     padding: 5px 20px;
     height: 50px;
     display: flex;
     align-items: center;
   }
 }
 .dealers-items{
  background-color: white;
  height: 100%;
  overflow-y: auto;
  .item{
    background-color: white;
    padding: 15px 20px;
    &:not(:last-child){
     border-bottom: 1px solid rgba($color-gray-1, 0.8);
    }
    .item-wrapper{
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    ._name{
      font-weight: 700;
    }
    &:hover{
      background-color: $color-gray-1;
    }
    .btn-content{
      @media(min-width: 992px){
        position: absolute;
        right: 30px;
      }
    }
  }
}
.dealers-testdrive{
  .marker-area-content{
    width: 100px;
    border: 1px solid white;
    font-size: 10px;
    border-radius: 0;
  }
}
.dealers-bar{
  width: 100%;
  position: absolute;
  // background-color: white;
  z-index: 1;
  height: 100%;
  pointer-events: none;
  .item-content{
    height: 100%;
  }
  .cap-content{
    pointer-events: auto;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.8s ease;
    transition-delay: 0.3s;
  }
  &.list-active{
    pointer-events: auto;
    .cap-content{
      transition-delay: 0s;
      transition-duration: 0.1s;
      background-color: $color-gray-2;
    }
  }
}
.btn-switch-map{
  .this-btn{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
    border: 1px solid black;
    svg{
      width: 25px;
    }
    span{
      font-weight: 800;
      font-size: 15px;
      min-width: 55px;
    }
  }
}
.dealers-bar-top{
  background-color: black;
  color: white;
  min-height: 50px;
  position: relative;
  z-index: 3;
  padding: 10px 20px;
  .select-content{
    width: 350px;
  }
  .multiselect__option{
    font-size: 12px;
    width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.dealer-more{
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.5s ease;
  pointer-events: auto;
  &.active{
    transform: translateY(0);
  }
  .item-wrapper{
    max-width: 450px;
  }
  .item{
    &:hover{
      background-color: transparent;
    }
  }
  .dealer-services{
    li{
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 0 5px;
    }
    @media (min-width: 991px){
      li{
        width: 50%;
      }
    }
  }
}
.i-marker{
  display: inline-block;
  background-color: $color-1;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after{
    border-color: #efdf00 transparent transparent;
    content: "";
    position: absolute;
    transform: translate3d(-50%,0,0);
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    transition: border-color .5s ease;
    border-style: solid;
    border-width: 16px 11px 0;
    display: inline-block;
  }
 }
 .marker-area-content{
   background-color: $color-1;
   border-radius: 50%;
   width: 36px;
   height: 36px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
 }


 .online-app{
   .wrapper-nav{
     .desc-content{
       display: flex;
       justify-content: space-between;
       align-items: center;
       .icon-content{
         align-items: center;
         display: flex;
       }
       svg{
        width: 25px;
       }
     }
     @media (max-width:991px){
       .desc-content{
         justify-content: center;
       }
       svg{
         width: 30px !important;
         fill: $color-3;
       }
       .text{
         display: none;
       }
     }
   }
  .online-app-content{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
   }
   nav{
    box-shadow: 0px 0px 10px rgba(black, 0.2);
    font-weight: 600;
     display: flex;
     a{
       display: block;
       width: 100%;
       padding: 16px 16px 11px 19px;
       //flex-shrink: 0;
       border-left: 1px solid #f1f2f3;
       border-right: 1px solid #f1f2f3;
       position: relative;
       filter: grayscale(1);
       opacity: 0.8;
       &:before{
         @extend .clafclear;
         bottom: 0;
         left: 0;
         height: 6px;
         background-color: $color-3;
         opacity: 0;
       }
       &.active{
        opacity: 1;
        filter: grayscale(0);
         &:before{
          opacity: 1;
         }
       }
     }
     .num-content{
       color: $color-3;
       margin-bottom: 10px;
       font-size: 15px;
       font-weight: 700;
       line-height: 1;
     }
     .desc-content{
       color: black;
       font-size: 13px;
       text-transform: uppercase;
     }
   }
 }
 .online-app-btns{
  position: relative;
  left: 0;
  bottom: 0;
  background-color: rgba(white, 0.9);
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  .btn-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  .btn-opacity{
    margin-right: 15px;
  }
  @media (max-width: 991px){
    justify-content: center;
  }
 }



 .conf-steps-nav{
   border-top: 1px solid white;
   ul{
     display: flex;
     //background-color: $color-gray-5;
     background-color: black;
     width: 100%;
     overflow: hidden;
   }
   .title-name{
     @media (max-width: 991px){
      display: none;
     }
   }
   .title-name-current{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
     @media (min-width: 992px){
       display: none;
     }
   }
   li{
     list-style: none;
     width: 100%;
     position: relative;
     .this-btn{
       text-transform: uppercase;
       color: white;
       background-color: black;
       height: 48px;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 13px;
       border: none;
       width: 100%;
       &:before{
        content: " ";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: transparent;
        bottom: 5px;
        left: 25%;
       }
     }
     &:before, &:after{
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%;
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 20px solid transparent;
      
      margin-top: -50px;
      margin-left: -21px;
      //border-top-color: black;
      //border-bottom-color: black;
     }
     &:before{
      z-index: 1;
      margin-left: -20px;
      border-left-color: #d9d9d6;
      width: 30px
     }
     &:after{
      border-left-color: black;
      z-index: 2;;
     }
     &.active{
      z-index: 2;
      .this-btn{
        background-color: black;
        &:before{
          background-color: $color-1;
        }
      }
      &~li{
        .this-btn{
          background-color: $color-gray-5;
        }
        &:after{
          border-left-color: $color-gray-5;
        }
      }
      &:after{
        border-left-color: black;
      }
      & ~ *:before, &:before{
        border-top-color: $color-gray-5;
        border-bottom-color: $color-gray-5;
      }
     }
   }
 }
 .news-items{
   figure{
     @media (min-width: 992px){
       &:nth-child(5n+4), &:nth-child(5n+5){
         width: 50%;
        }
     }
   }
 }
 .wa-advantages{
	@media (min-width: 992px){
		.cell{
			border-left: 1px solid #cccccc;
			.flex{
				margin-left: 20px;
			}
			&:nth-child(1){
				border-left: none;
			}
		}
	}
	@media (max-width: 991px){
		.cell{
			.desc-content{
				padding-bottom: 40px;
				border-bottom: 1px solid #ccc;
			}
			&:nth-last-child(1){
				.desc-content{
					border-bottom: none;
				}
			}
		}
	}
}
.news{
  .text-item{
    video{
      margin: 15px;
      &:nth-child(1){
        margin-top: 0;
      }
      @media (max-width: 991px){
        &[width]{
          width: 100%;
        }
        height: auto;
      }
    }
    img{
      margin-bottom: 20px;
    }
    .swiper-slide{
      img{
        margin-bottom: 0;
      }
    }
    [style*='float: left']{
      margin: 15px 15px 15px 0;
    }
    [style*='float: right']{
      margin: 15px 0 15px 15px;
    }

  }
}
.model-drives-items{
  @media (min-width: 992px){
    justify-content: center;
  }
  .swiper-slide{
  }
  figure{
    padding: 15px;
    color: $color-gray-6;
    border: 2px solid rgba($color-gray-1, 0.8);
    &.active{
      border: 2px solid $color-1;
    }
  }
  .desc-content{
    font-size: 13px;
    .desc-item-title{
      max-width: 75%;
    }
  }
  .cap{
    min-height: 70px;
    font-weight: 700;
    font-size: 25px;
  }
  .price-content{
    margin-top: 15px;
  }
  .icons-content{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-flow: column;
    margin-left: -5px;
    margin-right: -5px;
  }
}
.model-drives-icon{
  background-color: $color-gray-1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 5px;
  height: 108px;
  margin: 5px;
}

.summary-steps{
  font-weight: 700;
  font-size: 16px;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 100;
  .wrapper{
    padding: 10px 20px 10px 60px;
    min-height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .base-arrow-r{
    width: 28px;
    height: 28px;
    background-color: $color-1;
  }
}
.base-arrow-r{
  position: relative;
  display: inline-block;
  &:after{
    position: absolute;
    top: 50%;
    content: "";
    transform: translate(-11px,-4px) rotate(45deg);
    right: 0;
    width: 9px;
    height: 9px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    color: black;
  }
}
.conf{
  min-height: 80vh;
}
.basic-page, .configurator{
  .nav-sub-title{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    height: 70px;
    position: relative;
    .btn-back{
      position: absolute;
      right: 15px;
      width: 30px;
      height: 30px;
      padding: 3px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        fill: white;
      }
    }
  }
}
.configurator{
  .step-3{
    .exterior-main{
      @media (min-width:992px){
        overflow: inherit;
      }
    }
  }
}

.exterior-main{
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  overflow: hidden;
  .exterior-main-wrap{
    //max-width: 1280px;
    //max-height: 440px;
    @media(min-width: 992px){
      height: 700px;
    }
  }
  @media(max-width: 991px){
    height: 250px;
  }
  .cloudimage-360-loader{
    display: none;
  }
  .cloudimage-360-view-360-icon{
    background-color: rgba(black, 0.8) !important;
    background-size: 60% !important;
    transition: none !important;
    color: white;
  }
}
.exterior-sample{
  position: relative;
}
.exterior-color-items{
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  flex-wrap: wrap;
  
  figure{
    position: relative;
    margin: 10px;
  }
  .img-content{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    overflow: hidden;
  }
  .checked-icon{
    opacity: 0;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      width: 10px;
      height: 10px;
      color: white;
      fill: white;
    }
  }
  .active{
    .checked-icon{
      opacity: 1;
    }
  }
  @media (max-width: 991px){
    justify-content: center;
  }
}
.summary-list{
  display: flex;
  align-items: baseline;
  width: 100%;
  .summary-list-label{
    max-width: 70%;
  }
  .summary-list-dots{
    flex: 1 0 auto;
    border-bottom: 1px dotted rgb(0, 0, 0);
    margin: 0px 4px;
  }
  .summary-list-price{
    float: right;
    font-size: 1.4rem;
    text-transform: capitalize;
  }

}

.detail-list-1{
  .dl-items{
    dl{
      display: flex;
      width: 100%;
      padding: 16px 0;
      color: #000;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 0;
      &:nth-child(odd){
        background-color: $color-gray-1;
      }
      dt{
        width: 60%;
        margin: 0 16px;
        font-weight: 400;
        font-size: 13px;
      }
      dd{
        width: 40%;
        font-weight: 700;
      }
    }
  }
}
.FunnelStepper{
  background-color: #000;
  position: relative;
  padding: 8px 0 16px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid rgba(#f2f2f2, 0.3);
  flex: 1 0 auto;
  ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 16px 8px 0;
    counter-reset: step;
    .FunnelStepper__steptitle{
      color: #d9d9d6;
      font-size: 12px;
      display: inline-block;
      padding-bottom: 20px;
    }
    .FunnelStepper__icon{
      position: absolute;
      z-index: 2;
      bottom: -8px;
      left: calc(50% - 8px);
      height: 16px;
    }
    li{
      position: relative;
      flex: 1;
      max-width: 180px;
      margin-bottom: 12px;
      color: #656666;
      text-align: center; 
      &:after{
        background-color: #8c8c8b;
      }
      &:after{
        content: "";
        position: absolute;
        z-index: 1;
        bottom: -10px;
        left: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #000;
        font-size: 1.2rem;
        line-height: 1;
        counter-increment: step; 
      }
      &:not(:first-child):before{
        content: "";
        position: absolute;
        bottom: 0;
        left: -50%;
        width: 100%;
        border-bottom: 1px solid #8c8c8b;
      }
      &.is-active{
        &~li svg, svg{
          display: none;
        }
        &:after{
          color: #000;
          content: counter(step);
          bottom: -12px;
          left: calc(50% - 12px);
          width: 24px;
          height: 24px;
          background-color: #efdf00;
          font-weight: 700;
        }
        &~li{
          &:after{
            background-color: #000;
            color: #d9d9d6;
            border-color: #d9d9d6;
            content: counter(step);
            border: 1px solid;
          }
        }
      }
    }
    @media (min-width: 1024px){
      padding: 0;
      ul{
        padding: 0;
      }
      .FunnelStepper__steptitle{
        display: inline-block;
        padding-bottom: 16px;
      }
      li{
        margin-top: 16px;
      }
    }
  }
}
.basic-page{
  .steps-wrapper{
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 240px);
    @media (max-width: 991px){
      flex-direction: column-reverse;
    }
  }
  .right-bar{
    background-color: $color-gray-1;
    padding: 30px;
    @media (min-width: 992px){
      margin-right: -15px;
    }
  }
}

.block-pick-time{
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  label{
    width: auto;
    margin-bottom: 5px;
  }
  input{
    &:checked{
      &~.pick-time{
        &:before{
          opacity: 1;
        }
      }
    }
  }
}
.datepicker-footer{
  display: flex;
  width: 100%;
  background-color: #333;
  align-items: center;
  padding: 20px 0;
  color: #ccc;
  font-size: 15px;
  height: min-content;
  min-height: 110px;
  .datepicker-date-selected{
    color: white;
  }
  svg{
    width: 25px;
    fill: $color-3;
  }
  .item{
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
}
.pick-time{
  position: relative;
  background-color: white;
  border: 2px solid $color-gray-2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  font-size: 15px;
  &:hover{
    cursor: pointer;
    &:before{
      opacity: 1;
    }
  }
  &:before{
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    border: 6px solid $color-3;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    box-shadow: 0 0 10px rgba(black, 0.15);
    pointer-events: none;
  }
}
.icon-checked{
  svg{
    background-color: $color-1;
    width: 50px;
    padding: 8px;
    border-radius: 50%;
    margin: 0 auto 16px;
    font-size: 2.5rem;
    font-weight: 700;
    path{
      fill: white;
    }
  }
}