/*
	_content.css
*/
@import "../fonts/icomoon/style.scss";
.icm {
  vertical-align: middle;
}
html small {
  font-weight: inherit;
}

small {
  font-size: 85%;
}

.container-p,
.container-p-2 {
  margin-left: auto;
  margin-right: auto;
}
.container-p {
  width: 100%;
  @media (min-width: 1900px) {
    //max-width: 1800px;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 1899px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 991px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.container-min {
  @extend .container;
  @media (min-width: 992px) {
    max-width: 700px;
  }
}
.h-style-1 {
  position: relative;
  line-height: 100%;
  padding-bottom: 0.7em;
  &:after {
    content: "";
    position: absolute;
    width: 70px;
    transition: all 0.5s ease;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    bottom: 0;
    left: 0;
    @media (max-width: 991px) {
      //display: none;
    }
  }
}
.hover-underline {
  position: relative;
  line-height: 100%;
  * {
    vertical-align: middle;
  }
  &:before {
    @extend .clafclear;
    height: 1px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    width: 0;
    transition: 0.35s ease;
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}
.img-contain {
  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }
}
.accordion-def {
  .panel {
    margin-bottom: 0;
    border-bottom: 1px solid $color-gray-1;
    box-shadow: none;
  }
  [data-toggle="collapse"] {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 15px 15px;
    .fa {
      font-size: 25px;
      transform: rotate(180deg);
    }
    &[aria-expanded="true"] {
      background-color: black;
      color: white;
      .fa {
        transform: rotate(0);
        color: $color-1;
      }
    }
  }
}
.accordion-def-body {
  padding: 35px 20px;
  background-color: $color-gray-1;
  color: $color-gray-4;
  p {
    font-size: 11px;
  }
}
:root {
  --swiper-theme-color: #efdf00;
}
.swiper-def{
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  .swiper-btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
    svg {
      color: white;
    }
    .swiper-button{
      width: 30px;
      height: 60px;
      background-color: rgba($color-2, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      &:after{
        transform: scale(.3);
      }
    }

  }
  .swiper-pagination {
    margin-top: 15px;
    padding: 15px 0;
    position: relative;
    bottom: auto;
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      opacity: 1;
      background-color: white;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 19px;
        height: 19px;
        display: block;
        left: -3px;
        top: -3px;
        border-radius: 50%;
        border: 1px solid $color-1;
        //transform: scale(1.7);
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color-1;
      &:before {
        opacity: 1;
      }
    }
  }
}


.swiper {
  //display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
    svg {
      color: white;
    }
    .swiper-btn-prev,
    .swiper-btn-next {
      width: 30px;
      height: 60px;
      background-color: rgba($color-2, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 6px;
  }
  .swiper-pagination {
    padding: 15px 0;
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
      opacity: 1;
      background-color: white;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 19px;
        height: 19px;
        display: block;
        left: -3px;
        top: -3px;
        border-radius: 50%;
        border: 1px solid $color-1;
        //transform: scale(1.7);
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $color-1;
      &:before {
        opacity: 1;
      }
    }
  }
}
.is-covered {
  height: 100%;
  object-fit: cover;
}

.text-summary {
  font-size: 1.8rem;
  position: relative;
}
.entry-header {
  p {
    font-size: 1.8rem;
  }
}

// PAGES
.bnr {
  overflow: hidden;
  .slide-wrapper {
    position: relative;
  }
  .img-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    video {
      width: 100%;
    }
  }
  .text-content {
    height: 100%;
    display: flex;
    //justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    height: 600px;
  }
  .btn-def {
    a {
      //padding-top: 10px;
      //padding-bottom: 10px;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .desc-content {
    left: 45px;
    width: 45%;
    padding: 24px 32px;
    position: relative;
    color: white;
    &.bg-style-white {
      background-color: rgba(white, 0.8);
      color: black;
    }
    @media (min-width: 992px) {
      &:not(.bg-style-white) {
        .btn-def {
          color: white;
          border: 1px solid currentColor;
          background-color: transparent;
          &:hover {
            border-color: $color-1;
          }
        }
      }
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      margin-top: 0;
    }
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 991px) {
    .swiper-btns {
      display: none;
    }
    .img-content {
      position: absolute;
      max-width: none;
      height: 100%;
      img {
        width: auto;
      }
    }
    .text-content {
      height: 420px;
      top: 0;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      // left: 0;
      transform: none;
      position: relative;
    }
    h1 {
      margin-bottom: 0;
    }
    .btn-def {
    }
    .desc-content {
      width: 100%;
      left: 0;
      padding: 10px 15px;
      background-color: rgba(white, 0.8);
      color: black;
    }
  }
}

.close-span {
  position: absolute;
  top: 12px;
  right: 11px;
  text-align: left;
  width: 22px;
  height: 22px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    background-color: #777;
    position: absolute;
    height: 1px;
    width: inherit;
    top: 8px;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}
.img-ratio-1 {
  picture {
    padding-top: calc((2 / 3) * 100%);
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}
.desc-style-1 {
  h5 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
.pic-absolute {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bnr-page {
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 240px;
    max-height: 600px;
    overflow: hidden;
    .entry-header {
      width: 100%;
      padding: 32px 128px;
      @media (max-width: 991px) {
        padding: 30px 25px;
      }
    }
  }
  .desc-content {
    position: relative;
  }
  .img-content {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 3rem;
  }
  &.full-style {
    .img-content {
      position: relative;
    }
    .entry-header {
      padding: 0;
    }
  }
}

.offers-icolinks-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  figure {
    margin: 10px;
    @media (max-width: 991px) {
      width: 100%;
      max-width: 360px;
    }
  }
  .wrapper {
    transition: background-size 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    min-height: 80px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $color-gray-2;
    &:hover {
      background-size: 100% 100%;
      .desc-content {
        color: white;
      }
    }
    @media (min-width: 992px) {
      background: linear-gradient(#000, #000) top/100% 50% no-repeat;
      width: 195px;
      height: 180px;
      padding: 0 16px;
      flex-direction: row;
      align-items: flex-start;
    }
    @media (max-width: 991px) {
      flex-direction: row;
      picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 25%;
        background-color: #000;
        height: auto;
        flex-shrink: 0;
      }
      .desc-content {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        padding: 16px;
        color: #000;
        font-size: 2rem;
        line-height: 1.15;
        text-align: left;
        font-weight: 700;
        height: 100%;
      }
    }
  }
  .desc-content {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-weight: 700;
    color: black;
    font-size: 2rem;
    line-height: 1.15;
    display: flex;
    align-items: center;
    flex-basis: auto;
    padding: 5px 0;
    height: 50%;
  }
  picture {
    display: flex;
    align-items: center;
    flex-basis: auto;
    height: 50%;
    img {
      width: 48px;
      height: 48px;
      fill: #fff;
    }
    @media (min-width: 991px){
      width: 100%;
    }
  }
}
.link-li-1 {
  li {
    position: relative;
    &:before {
      @extend .clafclear;
      width: 100%;
      height: 3px;
      background-color: $color-1;
      left: 0;
      bottom: 0;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &.active {
      font-weight: 700;
      &:before {
        opacity: 1;
      }
    }
  }
}
.nav-sub {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  .wrapper {
    height: 60px;
    background-color: white;
    justify-content: center;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.2);
    ul {
      overflow-x: auto;
      padding-left: 0;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      @media (max-width: 991px){
        justify-content: normal;
        font-size: 12px;
      }
    }
    li {
      flex-shrink: 0;
      list-style: none;
      text-transform: uppercase;
      margin-left: 10px;
      margin-right: 10px;
      height: 100%;
      a {
        white-space: nowrap;
        height: 100%;
        align-items: center;
        display: flex;
      }
    }
  }
}
.nav-def {
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .img-contain {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .r-tabs-accordion-title {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    a {
      display: flex;
      align-items: center;
      padding: 15px 0;
      padding-right: 50px;
      position: relative;
      border-bottom: 1px solid $color-gray-2;
      &:before,
      &:after {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        content: "";
        width: 10px;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.5s;
      }
      &:before {
        transform: translateY(-50%) rotate(45deg);
        right: 22px;
      }
      &:after {
        transform: translateY(-50%) rotate(-45deg);
        right: 16px;
      }
    }
    .img-contain {
      margin: 0 0;
    }
    .text {
      margin-left: 20px;
      margin-top: 0;
    }
    &:before {
      height: 1px;
      background-color: $color-gray-2;
      width: 100%;
      opacity: 1;
    }
    &.r-tabs-state-active {
      a {
        border-bottom: 3px solid $color-1;
        &:before {
          transform: translateY(-50%) rotate(-45deg);
        }
        &:after {
          transform: translateY(-50%) rotate(45deg);
        }
        &:before,
        &:after {
          background-color: $color-1;
        }
      }
    }
  }
  li {
    margin: 15px;
    position: relative;
    a {
      display: block;
      font-size: 1.6rem;
    }
    &.r-tabs-state-active {
      font-weight: 600;
      &:before {
        opacity: 1;
      }
    }
  }
  @media (max-width: 991px) {
    ul {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
.corporate-advert-items {
  figure {
    padding-top: 30px;
    padding-bottom: 30px;
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-2;
    }
    &.flex {
      max-width: 700px;
    }
    .img-content {
      margin-right: 40px;
      flex-shrink: 0;
    }
    img {
      width: 48px;
    }
    @media (max-width: 991px) {
      padding-top: 10px;
      padding-bottom: 15px;
      .img-content {
        margin-right: 15px;
      }
    }
  }
}
.credit-steps-items {
  display: flex;
  justify-content: center;
  figure {
    max-width: 355px;
    text-align: center;
    &:nth-child(1) {
      .img-content {
        &:before {
          display: none;
        }
      }
    }
    &:nth-last-child(1) {
      .img-content {
        &:after {
          display: none;
        }
      }
    }
  }
  .img-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    img {
      width: 55%;
    }
    &:before,
    &:after {
      @extend .clafclear;
      height: 1px;
      background-color: black;
      width: calc(50% - 24px);
      top: calc(50% - 1px);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .desc-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  picture {
    border: 1px solid black;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    figure {
      max-width: none;
      min-height: 80px;
      display: flex;
      //align-items: center;
      text-align: left;
      .desc-content {
        display: flex;
        align-items: center;
      }
      .img-content {
        justify-content: flex-start;
        margin-bottom: 0;
        //margin-top: 10px;
        //margin-bottom: 10px;
        height: auto;
        &:before,
        &:after {
          left: calc(50% - 1px);
          right: auto;
          width: 1px;
          height: calc(50% - 24px);
        }
        &:before {
          top: auto;
          bottom: calc(50% + 24px);
        }
        &:after {
          bottom: auto;
          top: calc(50% + 24px);
        }
      }
    }
  }
}

$yellow: #efdf00;

.credit-slider {
  .wrapper {
    margin: 0 auto;
    max-width: 1170px;
    overflow: hidden;
    .view {
      height: 499px;
      position: relative;
      width: 100%;
      overflow: hidden;

      &.animate {
        .info.active {
        }
      }
    }
    img {
      max-width: none;
    }
  }
  .background {
    width: 2775px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    .bg {
      opacity: 0;
      position: absolute;
      top: 0;
      height: 100%;

      &--active {
        opacity: 1;
        left: 0;
        z-index: 1;
      }
      &--next {
        opacity: 1;
        left: 100%;
      }
    }
    &.animated {
      .bg {
        transition: all 2s;
      }
      .bg--active {
        left: -100%;
      }
      .bg--next {
        left: 0;
      }
    }
  }
  .car {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
    &--active {
      opacity: 1;
      z-index: 1;
    }

    &__image {
      transition: all 1s;
    }
    &__wheel {
      position: absolute;
      bottom: 10px;
      // transition: all .3s;
      &-1 {
        left: 120px;
      }
      &-2 {
        left: 598px;
      }
      &.spin {
      }
    }
    &.animate {
      // &.car--active {
      //   opacity: 0;
      // }
      // &.car--next {
      //   opacity: 1;
      // }
      .car__image {
        animation: movingCar 2s;
      }
      .car__wheel {
        animation: rotateWheel 2s;
      }
    }
  }
  .info {
    position: absolute;
    height: 100%;
    width: 33.3333%;
    background: rgba(0, 0, 0, 0.85);
    top: 100%;
    color: #fff;
    padding: 20px 30px;
    transition: all 1s;
    z-index: 5;
    // display: flex;
    // flex-direction: column;

    &.active {
      top: 0;
    }

    a {
      color: #fff;
    }

    &-list {
      &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &-icon {
          flex: 0 0 60px;
        }
        &-title {
          border-left: 1px solid $yellow;
          padding-left: 14px;
          font-weight: bold;
          font-size: 20px;
        }
        &-description {
          margin-top: 36px;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
        }
        &-teaser {
          margin-top: 16px;
          font-size: 16px;
          line-height: 23px;
          width: 100%;
          a {
            font-size: 12px;
            text-decoration: none;
            border-bottom: 1px dotted #fff;
            img {
              margin-left: 5px;
            }
          }
        }

        & + & {
          margin-top: 35px;
        }
      }
    }

    &-1 {
      left: 0;
    }
    &-2 {
      left: 33.3333%;
    }
    &-3 {
      left: 66.6666%;
    }
  }
  .thumbs {
    display: flex;
    background: #e5e5e5;
    border: 2px solid #e5e5e5;

    &__item {
      flex: 0 0 33.3333%;
      padding: 12px 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &.active {
        background: #fff;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      padding-left: 15px;
    }
    &__car {
      margin-right: 5px;
    }
    &__progressbar {
      margin-top: 18px;
      height: 3px;
      width: 100%;
      background-color: #bebebe;
      display: flex;
      justify-content: flex-end;
      span {
        // opacity: 0;
        // width: 0%;
        content: "";
        height: 100%;
        display: block;
        background: $yellow;

        .active & {
          width: 100%;
        }
        .animate & {
          animation: progress 4s linear forwards;
        }
      }
      &.active span {
        width: 100%;
      }
    }
  }

  .play-btn {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 98px;
    height: 98px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3;
    img {
      margin-left: 10px;
    }
    &:hover {
      box-shadow: 0 0 0 10px $yellow;
      img {
        display: none;
      }
      &:before {
        content: "поехали!";
        display: block;
        // text-transform: uppercase;
        font-size: 14px;
      }
    }
  }

  // media
  @media (max-width: 1140px) {
    .thumbs__item {
      flex-direction: column;
      align-items: flex-start;
    }
    .info-list__item-teaser {
      line-height: 1;
    }
  }

  @media (max-width: 768px) {
    .info {
      width: 100%;
      left: 0;
    }
    .wrapper {
      .view {
        height: 380px;
      }
    }
    .background {
      width: 2111.1111px;
      height: 380px;
    }
    .car {
      &__image {
        width: 100vw;
      }
      &__wheel-1 {
        left: 15vw;
      }
      &__wheel-2 {
        left: 73vw;
      }
      &__wheel {
        width: 14.51vw;
        bottom: 0.8vw;
      }
    }
    .info-list {
      &__item {
        &-title {
          font-size: 18px;
        }
        &-teaser {
          font-size: 14px;
          margin-top: 10px;
        }
        & + & {
          margin-top: 25px;
        }
      }
    }
    .play-btn {
      display: none;
    }
  }
}

// keyframes/animations
@keyframes rotateWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}

@keyframes movingCar {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-0.5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  93% {
    transform: rotate(0.3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.irs--round {
  .irs-min,
  .irs-max {
    border-radius: 0;
  }
  .irs-bar {
    background-color: $color-1;
  }
  .irs-handle {
    border-color: $color-1;
    border: 8px solid #efefef;
    border-radius: 50%;
    box-shadow: 0 6px 3px rgba(black, 0.35);
    width: 30px;
    height: 30px;
    margin-top: -5px;
    background: linear-gradient(#d6d5d1, #fff);
  }
  .irs-single {
    background-color: $color-1;
    border-radius: 0;
    padding: 7px 11px;
    //transform: translate(0px, -10px);
    margin-top: -15px;
    color: black;
    &:before {
      border-top-color: $color-1;
    }
  }
  .irs-grid {
    @media (min-width: 1280px) {
      .irs-grid-text {
        color: transparent;
        visibility: visible !important;
        top: 20px;
        &:before {
          content: " ";
          position: absolute;
          width: 100%;
          color: #808080;
          font-size: 14px;
        }
        &:nth-child(2) {
          &:before {
            transform: translateX(-50%);
          }
        }
        &:nth-last-child(1) {
          &:before {
            transform: translateX(50%);
          }
        }
      }

      @for $i from 0 through 20 {
        .js-grid-text-#{$i} {
          &:before {
            content: ""+ ((5 * $i)+"%");
            //content: "1";
          }
        }
      }
    }
  }
}

.credit-calc {
  background-color: $color-gray-1;
  padding: 30px;
  .wrapper {
  }
}
.credit-calc__models {
  background-color: white;
}
.credit-calc__models-items {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  figure {
    width: 100%;
    max-width: 230px;
    &.active {
      .title-content {
        border-color: $color-1;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .img-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 200px;
    }
    &:before {
      content: "";
      display: block;
      padding-top: 45%;
      width: 100%;
      height: 100%;
    }
  }
  .desc-content {
    text-align: center;
    margin-top: 5px;
  }
  .title-content {
    font-size: 16px;
    font-weight: 700;
    height: 3.6em;
    line-height: 1.2;
    display: inline-block;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
  }
}
.credit-calc__conf {
  background-color: white;
  padding: 40px 25px;
  .price-content {
    font-size: 24px;
    background-color: $color-1;
    text-align: center;
    color: black;
    font-weight: 700;
    padding: 7px 15px;
    big {
      font-size: 36px;
    }
  }
  select {
    max-width: 230px;
  }
  .choices {
    //width: 230px;
    .choices__inner {
      height: 50px;
    }
  }
}

.sibls-items {
  .cell {
    position: relative;
    &:not(:first-child):before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: -12px;
      left: -40px;
      border-left: 1px solid #d9d9d6;
    }
  }
}


.model-complectations-items{
  background-color: $color-gray-1;
  .swiper-slide{
    height: auto;
  }
  .desc-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  figure{
    height: 100%;
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(black, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    
  }
  .img-content{
    background-color: $color-gray-1;
  }
}

.kaptur-newoptions-iframe{
  overflow: hidden;
  @media (max-width: 991px){
    font-size: 9.6px;
  }
  iframe{
    min-height: 0px; 
    height: 650px; 
    //margin-top: -200px;
    @media (max-width: 991px){
      height: 700px; 
    }
  }
}
.iframe-el{
  min-height: 0;
  width: 100%;
}