/* 
		_footer.scss
*/

/*
										---FOOTER---
*/


.footer{
	position: relative;
	font-size: 1.4rem;
}

.footer-top{
	background-color: $color-2;
}
.footer-bottom{
	font-size: 12px;
}
.footer-menu{
	padding: 5px 0;
	
	justify-content: space-between;
	ul:not([class]) a{
		@extend .hover-underline;
		&:before{
			bottom: -2px;
		}
	}
}
.footer-copy{
	font-size: 10px;
	ul{
		display: flex;
		align-items: baseline;
    margin-right: 16px;
    color: #3E3F40;
    a{
    	display: block;
    	padding: 7px 10px;
    	font-size: 12px;
    }
    li{
    	position: relative;
    	&:not(:last-child){
    		&:before{
    			content: "";
    			position: absolute;
    			right: 0;
    			top: 50%;
    			transform: translateY(-50%);
    			height: 12px;
    			border-left: 1px solid black;
    		}
    	}
    }
	}
}
.footer-icons{
	figure{
		width: 230px;
	}
	@media (max-width: 991px){
		figure{
			//width: 50%;
		}
	}
}
.map-canvas{
	height: 420px;
	width: 100%;
}
@media (max-width: 991px) {
	.map-canvas{
		height: 240px;
		width: 100%;
	}
}
