
		<footer id="footer" class="footer">
			<div class="footer-top">
				<div class="container pv-2">
					<div class="footer-icons flex fw-wrap mobile:jc-center jc-between color-white text-center figure-mv-3">
						<figure>
							<a href="/find-a-dealer.html">
								<div class="img-content mb-3">
									<img src="/img/icons/footer-1.svg">
								</div>
								<div class="desc-content">
									<div class="mb-1"><b>Найдите ближайший</b></div>
									<div>официальный дилерский центр Renault</div>
								</div>
							</a>
						</figure>
						<!-- <figure>
							<a href="">
								<div class="img-content mb-3">
									<img src="/img/icons/footer-2.svg">
								</div>
								<div class="desc-content">
									<div class="mb-1"><b>Пройдите тест-драйв</b></div>
									<div>на автомобиле Renault</div>
								</div>
							</a>
						</figure> -->
						<figure>
							<a href="/servicing-form.html">
								<div class="img-content mb-3">
									<img src="/img/icons/footer-3.svg">
								</div>
								<div class="desc-content">
									<div class="mb-1"><b>Запишитесь на сервис</b></div>
									<div>прямо на сайте</div>
								</div>
							</a>
						</figure>
						<!-- <figure>
							<a href="">
								<div class="img-content mb-3">
									<img src="/img/icons/footer-4.svg">
								</div>
								<div class="desc-content">
									<div class="mb-1"><b>Оцените свой автомобиль</b></div>
									<div>перед покупкой нового по программе Trade-in</div>
								</div>
							</a>
						</figure> -->
						<!-- <figure>
							<a href="">
								<div class="img-content mb-3">
									<img src="/img/icons/footer-5.svg">
								</div>
								<div class="desc-content">
									<div class="mb-1"><b>Центр поддержки клиентов</b></div>
									<div></div>
								</div>
							</a>
						</figure> -->
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container-p pv-3">
					<div class="footer-menu cells">
						<div class="fb-md-3 fb-xs-6 mv-3">
							<div class="fw-7 mb-3">Модельный ряд</div>
							<ul>
								<li><a href="/personal-cars/arkana.html">Renault ARKANA</a></li>
								<li><a href="/personal-cars/kaptur.html">Renault KAPTUR</a></li>
								<li><a href="/personal-cars/newduster.html">Renault DUSTER</a></li>
							</ul>
						</div>
						<div class="fb-md-3 fb-xs-6 mv-3">
							<div class="fw-7 mb-3">Покупателям</div>
							<ul>
								<li><a title="Лизинговые программы" href="/leasing.html">Лизинговые программы</a></li>
								<li><a title="Классический кредит" href="/classic-credit.html">Классический кредит</a></li>
								<li><a title="Trade-in" href="/trade-in.html">Trade-in</a></li>
								<li><a title="Все специальные предложения" href="/offers/">Все специальные предложения</a></li>
							</ul>
						</div>
						<div class="fb-md-3 fb-xs-6 mv-3">
							<!-- <div class="fw-7 mb-3">О компании</div>
							<ul>
								<li><a href="">Renault в Узбекистане</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Контакты</a></li>
								<li><a href="">Часто задаваемые вопросы</a></li>
								<li><a href="">Подписаться на новости</a></li>
							</ul> -->
						</div>
						<div class="fb-md-3 fb-xs-6 mv-3">
							<div class="fw-7 mb-2">Renault в социальных сетях</div>
							<ul class="list-inline li-mv-1">
								<li><a href="https://www.facebook.com/renault.uz" target="_blank"><img src="/img/icons/footer-soc-fs.svg"></a></li>
								<li><a href="https://www.instagram.com/renault.uz/ " target="_blank"><img src="/img/icons/footer-soc-instagram.svg"></a></li>
								<li><a href="https://www.youtube.com/channel/UCLeihmfjUZvmr4BfT0bz9NA " target="_blank"><img src="/img/icons/footer-soc-yt.svg"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<hr class="mv-0">
				<div class="footer-copy pv-2 desktop:ph-8">
					<ul>
						<li><a href="">Персональные данные</a></li>
						<li><a href="">Юридическая информация</a></li>
						<li><a href="">Стать дилером Renault</a></li>
					</ul>
				</div>
			</div>
		</footer>