

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/js/plugins/jquery-ui/jquery-ui.min.css">
<!-- Include Choices CSS -->
<link rel="stylesheet" href="/js/plugins/choices-js/public/assets/styles/choices.css"/>




<!-- SCRIPTS -->
<script src="/js/scripts.min.js"></script>
<script src="/js/plugins/vue.js"></script>
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include Choices JavaScript (latest) -->
<script src="/js/plugins/choices-js/public/assets/scripts/choices.min.js"></script>
<script src="/js/main.js"></script>