<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-211871187-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-211871187-1');
</script>



<!-- CSS -->

<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/fonts/NouvelR/stylesheet.css">
<link rel="stylesheet" href="/css/plugins.css">
<link rel="stylesheet" type="text/css" href="/js/plugins/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/js/plugins/choices-js/public/assets/styles/choices.css"/> <!-- Choices CSS -->
<link rel="stylesheet" href="/css/main.css">

<link rel="stylesheet" href="/css/additional.css">




<!-- Vue link -->
<script src="/js/vue/vue.js"></script>
<!-- multiselect -->
<script src="/js/vue/vue-multiselect/vue-multiselect.min.js"></script>
<link rel="stylesheet" href="/js/vue/vue-multiselect/vue-multiselect.css">



<!-- SCRIPTS -->
<script src="/js/plugins/jquery.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/aos.js"></script>
<script src="/js/plugins/owl.carousel.min.js"></script>
<script src="/js/plugins/jquery.fancybox.js"></script>
<script src="/js/plugins/jquery.mmenu.all.js"></script>
<script src="/js/plugins/smooth-scroll.js"></script>
<script src="/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/js/plugins/ResizeSensor.min.js"></script>
<script src="/js/plugins/theia-sticky-sidebar.min.js"></script>
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/jquery.responsiveTabs.js"></script>
<script src="/js/plugins/flickity.js"></script>

<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script> <!-- JQUERY UI -->
<script src="/js/plugins/choices-js/public/assets/scripts/choices.min.js"></script><!-- Choices JS -->


