

<script defer src="/js/main.js"></script>
<script src="/js/postM.js"></script>
<script type="text/javascript">


  // Подключение vue компонентов
  Vue.component('multiselect', window.VueMultiselect.default)


  function checkSm() {
	  return $(document).width() <= 991;
  }


  Vue.filter('spacePhone', (price)=>{ 
    price = price+"";
    return price.replace(/(\d{3})(\d{2})(\d{3})(\d{2})(\d{2})/gim, '$1 $2 $3-$4-$5'); 
  })
  Vue.filter('spaceBetweenNum', (price)=>{ 
    if(!price)
      return 0;
    price += "";
    var pattern = /(-?\d+)(\d{3})/;
    while (pattern.test(price))
      price = price.replace(pattern, "$1 $2");
    
    return price;      
  })

  
/* GLOBAL MIXINS */

// Vue.mixin({
// 	methods:{
// 		checkSm(ob) {
// 			return _.uniqWith(ob, _.isEqual);
//     },
// 	}
// })




</script>

