			<!-- <section>
				<div class="container pv-8">
					<div class="accordion-def desktop:ph-4" id="yur-accordion">
					  <div class="panel">
					    <a role="button" data-toggle="collapse" data-parent="#yur-accordion" href="#yur-accordion-1">
					    	<span>ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</span><i class="fa fa-angle-up"></i>
					    </a>
					    <div id="yur-accordion-1" class="panel-collapse collapse">
					      <div class="accordion-def-body">
									<p></p> 
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</section> -->