<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	@@include('./app/src/components/_favicons.html')
	@@include('./app/src/components/_scripts_head.html')
	<title>Renault Uzbekistan</title>
</head>

<body>

	<div id="page">
		@@include('./app/src/components/_header.html')
		<main class="main" data-aos="fade" id="main">
			<div class="nav-sub">
				<div class="wrapper link-li-1">
					<ul class="jc-center">
						<li><a href="/history.html">История Renault в Узбекистане</a></li>
						<li class="active"><a href="/contact.html">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="bnr-page">
				<div class="wrapper">
					<div class="entry-header">
						<div class="img-content">	
							<picture class="pic-absolute is-covered opacity-3">
								<img src="https://cdn.group.renault.com/ren/master/renault-new-cars/editorial/renault-service/2560x875-page-header/renault-editorial-service-008.jpg.ximg.largex2.webp/8392d06896.webp">
							</picture>
						</div>
						<div class="desc-content">
							<h1>КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
              <p>Свяжитесь с Центром поддержки клиентов или официальным дилером Renault, чтобы получить информацию по вашему вопросу</p>
						</div>
					</div>					
				</div>
			</div>

      <section>
        <div class="container pv-8">
          <div class="entry-header text-center box-md-5 mh-auto mb-10">
            <h2>СВЯЗАТЬСЯ С ОФИЦИАЛЬНЫМ ДИЛЕРОМ RENAULT</h2>
          </div>
          <div class="offers-icolinks-items">
						<figure>
							<a href="">
								<div class="wrapper">
									<picture>
										<img src="https://cdn.group.renault.com/pictograms/c12-B_action_button/renault-white-test-drive.svg.asset.svg/19df848e6a.svg">
									</picture>
									<div class="desc-content">записаться на тест-драйв</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="">
								<div class="wrapper">
									<picture>
										<img src="https://cdn.group.renault.com/pictograms/c12-B_action_button/renault-white-favorite-car.svg.asset.svg/eac19351b6.svg">
									</picture>
									<div class="desc-content">задать вопрос по покупке автомобиля</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="">
								<div class="wrapper">
									<picture>
										<img src="https://cdn.group.renault.com/pictograms/c12-B_action_button/renault-white-calculator.svg.asset.svg/a4d687c6d9.svg">
									</picture>
									<div class="desc-content">связаться с кредитным специалистом</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="">
								<div class="wrapper">
									<picture>
										<img src="https://cdn.group.renault.com/pictograms/c12-B_action_button/renault-white-timing-belt.svg.asset.svg/65bc8d9ccd.svg">
									</picture>
									<div class="desc-content">задать вопрос по сервису и обслуживанию</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="">
								<div class="wrapper">
									<picture>
										<img src="https://cdn.group.renault.com/pictograms/c12-B_action_button/renault-white-mechanical.svg.asset.svg/4cf5f860c3.svg">
									</picture>
									<div class="desc-content">записаться на сервис онлайн</div>
								</div>
							</a>
						</figure>
					</div>
        </div>
      </section>

      <section>
        <div class="container pv-8">
          <div class="flex mobile:fd-column-reverse">
            <div class="desc-content bg-color-black color-white box-md-8 p-6">
              <div class="text-x9">Найти ближайший дилерский центр</div>
              <div class="btn-content">
                <span class="btn-def btn-icon hovered color-black mt-16" >
                  <svg viewBox="0 0 30 30" fill="currentColor" class="color-black"><path d="M17.996 11.316c0-1.842-1.156-3-2.996-3s-2.996 1.157-2.996 3c0 1.841 1.156 3 2.996 3s2.996-1.158 2.996-3m1.788 0c0 2.684-2.05 4.738-4.784 4.738S10.216 14 10.216 11.316c0-2.738 2.05-4.738 4.784-4.738s4.784 2.001 4.784 4.738m4.574-.526c0-5.316-3.785-9-9.358-9s-9.358 3.684-9.358 9c0 4.789 3.523 11.42 9.358 17.474 5.835-6.054 9.358-12.685 9.358-17.474m-20.608 0C3.75 4.318 8.271 0 15 0s11.25 4.316 11.25 10.79c0 5.315-3.995 12.737-10.304 19.21h-1.892C7.745 23.526 3.75 16.105 3.75 10.79"></path></svg>
                  <a href="#dealer-modal" data-fancybox>Поблизости</a>
                </span>
              </div>
            </div>
            <div class="img-content">
              <img src="https://cdn.group.renault.com/ren/ru/renault-in-russia/renault-dealer-moscow.png.ximg.small.png/6fbfe4db9e.png" alt="">
            </div>
          </div>
        </div>
        <!-- hide -->
        <div class="hide">
          <div id="dealer-modal" class="bg-transparent box-xs-10 box-md-9" style="max-width: 1080px">
            <div class="dealers-testdrive text-x3">
              <div id="dealers-map" class="dealers-map">
                <div class="dealers-map-wrapper">
                  <div class="dealers-bar" :class="{'list-active': !view_list}">
                    <div class="cap-content flex ai-center jc-between">
                      <div class="title-content">
                        {{this.dealerships.length}} дилеров
                      </div>
                      <div class="btn-switch-map">
                        <button type="button" class="this-btn switch-maplist" @click="switchMaplist">
                          <template v-if="view_list">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" d="M7.5 9.415h15.001v-1.29H7.5v1.29zm0 6.24h15.001v-1.29H7.5v1.29zm0 6.241h15.001v-1.29H7.5v1.29z"></path></svg>
                            <span class="ml-2">список</span>
                          </template>
                          <template v-else>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" d="M16.836 7.74c-.51 0-.871.39-.871.9 0 .48.36.87.87.87.54 0 .84-.39.84-.87 0-.51-.3-.9-.84-.9zm0-1.05c1.2 0 1.92.78 1.92 1.95 0 1.171-.72 1.921-1.92 1.921s-1.92-.75-1.92-1.92.72-1.95 1.92-1.95zm.03 8.851c2.61-2.97 3.75-5.07 3.75-6.87 0-2.28-1.44-3.72-3.75-3.72-2.251 0-3.78 1.44-3.78 3.72 0 1.83 1.169 3.93 3.78 6.87zm4.95-6.87c0 2.31-1.62 5.07-4.41 7.98h-1.14c-2.7-2.91-4.381-5.67-4.381-7.98 0-3.001 1.92-4.921 4.98-4.921 3.06 0 4.951 1.92 4.951 4.92zm-17.462.48v13.71l6.27 1.98v-13.68l-6.27-2.01zm-1.229 14.55V7.532l7.71 2.46c.06.78.57 2.16 1.02 2.73v12.12l6.27-2.16v-5.13l1.23-1.38v6.51l6.27 1.98v-13.71l-2.789-.9c.12-.39.18-.78.21-1.17l3.81 1.23v16.172l-8.16-2.581-7.411 2.58-8.16-2.58z"></path></svg>
                            <span class="ml-2">карта</span>
                          </template>
                          </button>
                      </div>
                    </div>
                    <div class="item-content">
                      <div class="dealers-items" style="display: none;">
                        <ul class="list">
                          <li v-for="(item, key) in dealerships" :key="key">
                            <div class="item" @click="selectDealer(item, key, $event)" role="button">
                              <div class="item-wrapper">
                                <div class="mr-3 fsh-0">
                                  <span class="i-marker">{{key+1}}</span>
                                </div>
                                <div>
                                  <div class="_name mb-1">{{item.name}}</div>
                                  <div class="_address mb-1">
                                    {{item.address}}
                                  </div>
                                  <div class="_phone mb-1 ai-center flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" viewBox="0 0 24 24"><path d="M12.784 17.469c0 .48-.24.792-.792.792-.528 0-.792-.312-.792-.792 0-.504.264-.792.792-.792.552 0 .792.288.792.792zM10.768 6.524h2.472V5.516h-2.472v1.008zM8.656 19.509h6.673c.48 0 .672-.264.672-.887V5.348c0-.624-.193-.888-.672-.888H8.656c-.48 0-.672.264-.672.888v13.274c0 .623.192.887.672.887zM7 5.204C7 4.052 7.551 3.5 8.704 3.5h6.576c1.153 0 1.705.552 1.705 1.704v13.585c0 1.152-.552 1.704-1.704 1.704H8.704C7.551 20.494 7 19.942 7 18.79V5.204z"></path></svg>
                                    <a href="tel:998993533226" class="ml-1"><u>Телефон: +{{item.phone | spacePhone}}</u></a>
                                  </div>
                                  <div class="_phone mb-1 ai-center flex">
                                    <svg viewBox="0 0 30 30" width="14px" ><path d="M17.996 11.316c0-1.842-1.156-3-2.996-3s-2.996 1.157-2.996 3c0 1.841 1.156 3 2.996 3s2.996-1.158 2.996-3m1.788 0c0 2.684-2.05 4.738-4.784 4.738S10.216 14 10.216 11.316c0-2.738 2.05-4.738 4.784-4.738s4.784 2.001 4.784 4.738m4.574-.526c0-5.316-3.785-9-9.358-9s-9.358 3.684-9.358 9c0 4.789 3.523 11.42 9.358 17.474 5.835-6.054 9.358-12.685 9.358-17.474m-20.608 0C3.75 4.318 8.271 0 15 0s11.25 4.316 11.25 10.79c0 5.315-3.995 12.737-10.304 19.21h-1.892C7.745 23.526 3.75 16.105 3.75 10.79"></path></svg>
                                    <a :href="'http://maps.yandex.ru/?text='+item.coords[0]+','+item.coords[1]" target="_blank" class="ml-1"><u>Найти на карте</u></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="dealer-more" :class="{'active': dealer_more}">
                      <div v-if="current_dealer && dealer_more">
                        <div class="bg-color-gray-2 pv-2 ph-3 flex ai-center" role="button" @click="dealer_more = false;current_dealer = false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16px" viewBox="0 0 34.075 34.075" class="SvgIcon DealerDetails__IconArrowLeft"><path d="M24.57 34.075a1.964 1.964 0 0 1-1.396-.577L8.11 18.432a1.972 1.972 0 0 1 0-2.79L23.174.578a1.973 1.973 0 1 1 2.791 2.79l-13.67 13.669 13.67 13.669a1.974 1.974 0 0 1-1.395 3.369z"></path></svg>
                          <span class="ml-2">Вернуться</span>
                        </div>
                        <div class="dealers-items">
                          <div class="item">
                            <div class="item-wrapper">
                              <div class="mr-3 fsh-0">
                                <span class="i-marker">{{select_dealer_index+1}}</span>
                              </div>
                              <div>
                                <div class="_name mb-1">{{current_dealer.name}}</div>
                                <div class="_address mb-1">
                                  {{current_dealer.address}}
                                </div>
                                <div class="_phone mb-1 ai-center flex">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="14px" viewBox="0 0 24 24"><path d="M12.784 17.469c0 .48-.24.792-.792.792-.528 0-.792-.312-.792-.792 0-.504.264-.792.792-.792.552 0 .792.288.792.792zM10.768 6.524h2.472V5.516h-2.472v1.008zM8.656 19.509h6.673c.48 0 .672-.264.672-.887V5.348c0-.624-.193-.888-.672-.888H8.656c-.48 0-.672.264-.672.888v13.274c0 .623.192.887.672.887zM7 5.204C7 4.052 7.551 3.5 8.704 3.5h6.576c1.153 0 1.705.552 1.705 1.704v13.585c0 1.152-.552 1.704-1.704 1.704H8.704C7.551 20.494 7 19.942 7 18.79V5.204z"></path></svg>
                                  <a href="tel:998993533226" class="ml-1"><u>Телефон: +{{current_dealer.phone | spacePhone}}</u></a>
                                </div>
                                <div class="_phone mb-1 ai-center flex">
                                  <svg viewBox="0 0 30 30" width="14px" ><path d="M17.996 11.316c0-1.842-1.156-3-2.996-3s-2.996 1.157-2.996 3c0 1.841 1.156 3 2.996 3s2.996-1.158 2.996-3m1.788 0c0 2.684-2.05 4.738-4.784 4.738S10.216 14 10.216 11.316c0-2.738 2.05-4.738 4.784-4.738s4.784 2.001 4.784 4.738m4.574-.526c0-5.316-3.785-9-9.358-9s-9.358 3.684-9.358 9c0 4.789 3.523 11.42 9.358 17.474 5.835-6.054 9.358-12.685 9.358-17.474m-20.608 0C3.75 4.318 8.271 0 15 0s11.25 4.316 11.25 10.79c0 5.315-3.995 12.737-10.304 19.21h-1.892C7.745 23.526 3.75 16.105 3.75 10.79"></path></svg>
                                  <a :href="'http://maps.yandex.ru/?text='+current_dealer.coords[0]+','+current_dealer.coords[1]" target="_blank" class="ml-1"><u>Найти на карте</u></a>
                                </div>
                              </div>
                            </div>
                            <hr>
                            <div class="dealer-services" v-if="current_dealer.services.length">
                              <p><b>Услуги:</b></p>
                              <ul class="list flex fw-wrap mt-2">
                                <li v-for="(item, key) in current_dealer.services" :key="key">{{item}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="map-content m-t-30 relative">
                    <div id="ymap_ctrl_display" style="display: none; width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.5); z-index: 100; pointer-events: none;">
                      <div style="position: relative; top: 50%; left: 0; right: 0; color: white; text-align: center; font-size: 1.8em; pointer-events: none;">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</div>
                    </div>
                    <div id="map"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Скрипты дилеров -->
          <script>
            // Подключение vue компонентов
            Vue.component('multiselect', window.VueMultiselect.default)
            Vue.filter('spacePhone', (price)=>{ 
              price = price+"";
              return price.replace(/(\d{3})(\d{2})(\d{3})(\d{2})(\d{2})/gim, '$1 $2 $3-$4-$5'); 
            })
            Vue.filter('spaceBetweenNum', (price)=>{ 
              if(!price)
                return 0;
              price += "";
              var pattern = /(-?\d+)(\d{3})/;
              while (pattern.test(price))
                price = price.replace(pattern, "$1 $2");
              
              return price;      
            })

            var v = new Vue({
              el: '#dealers-map',
              data: {
                view_list: true,
                current_dealer: {},
                dealer_more: false,
                select_search: null,
                select_dealer_index: null,
                select_current_dealer: {},
                dealerships: [],
                addresses: [],
              },
              methods: {
                update(){
                  console.log(1);
                },
                selectCurrentDealer(dealer){
                  this.select_current_dealer = dealer
                  setTimeout(() => {
                    $("#dealerForm").trigger("submit")
                  }, 1);
                  
                },
                switchMaplist: function(bool){
                  if(bool == "hide"){
                    $(".dealers-items").slideUp()
                    this.view_list = true
                  }else{
                    this.view_list = !this.view_list
                    if(this.view_list)
                      $(".dealers-items").slideUp()
                    else
                      $(".dealers-items").slideDown()
                  }
                },
                selectDealer(dealer, index, $event){
                  if($event && $event.target.tagName == "BUTTON")
                    return
                  this.current_dealer = dealer;
                  this.select_dealer_index = index;
                  this.dealer_more = true;
                }
              },
              mounted(){
                var v = this;
                // $(document).on("click", ".marker-area-content", function(){
                //   console.log(this)
                // })
                this.dealerships = [
                  {
                    "name": "ROHAT RENAULT",
                    "address": "г. Ташкент, Бектемирский район, ТКАД-1 (напротив ЖБИ-2)",
                    "phone": "998993533226",
                    "coords": ["41.251831", "69.344402"],
                    "services": [
                      "Кузовной ремонт",
                      "Продажа з/ч и аксессуаров",
                      "Автосервис",
                      "Продажа новых автомобилей",
                      "Продажа автомобилей с пробегом"
                    ]
                  },
                  {
                    "name": "SERGELI RENAULT",
                    "address": "Узбекистан, г.Ташкент, Сергелийский район, ул.Янги Сергели 7",
                    "phone": "998993533221",
                    "coords": ["41.236726", "69.214532"],
                    "services": [

                    ]
                  }
                ]
                var dealerships = this.dealerships;
                  
                this.dealerships.forEach(function(el, i){
                  v.addresses.push(el.address)
                })

                ymaps.ready(function() {
                  window.myMap = new ymaps.Map('map', {
                    center: [41.234893, 69.207893],
                    controls: [],
                    zoom: 11
                  }, {
                    searchControlProvider: 'yandex#search'
                  })
          
          
                    // Создаём макет содержимого.
                  var MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                      `<div class="marker-area">
                        <div class="marker-area-content" dealer-index="$[properties.iconContent]">
                          <span>
                            $[properties.iconContent]
                          </span>
                        </div>
                      </div>`
                    )
          
                  for (let i = 0; i < dealerships.length; i++) {
                    const item = dealerships[i];
                    var myPlacemark = new ymaps.Placemark(item.coords, {
                      //hintContent: 'Собственный значок метки',
                      //balloonContent: 'Это красивая метка',
                      iconContent: dealerships[i].name
                    }, {
                      // Опции.
                      iconLayout: 'default#imageWithContent', // Необходимо указать данный тип макета
                      //iconImageHref: 'https://www.kia.ru/images/map/map_pin.svg',
                      iconImageHref: '', // Своё изображение иконки метки.
                      iconImageSize: [100, 36], // Размеры метки.
                      iconContentLayout: MyIconContentLayout, // Макет содержимого.
                      iconImageOffset: [-50, -18] // Смещение левого верхнего угла иконки относительно её "ножки" (точки привязки)
                    })
                    myPlacemark.events.add("click", function (params) {
                      console.log(params, item)
                      v.current_dealer = item;
                      v.dealer_more = true
                      // v.selectDealer(item, i)
                    })
          
                    myMap.geoObjects.add(myPlacemark)
                  }
                    
          
                });
          

              }
            })
          </script>
        </div>
      </section>
      <section>
        <div class="container pv-8">
          <div class="entry-header text-center box-md-5 mh-auto mb-10">
            <h2>СВЯЗАТЬСЯ С RENAULT</h2>
            <p>Задайте вопрос консультанту Центра поддержки клиентов Renault Россия или обратитесь в службу поддержки портала MY Renault.</p>
          </div>
          <div class="boxes-3 figure-mv-3">
            <figure>
              <div class="wrapper shadow-def bg-color-white p-7 mobile:p-4 full-h">
                <div class="desc-content">
                  <h3>Центр поддержки клиентов</h3>
                  <p><big>Обратитесь в Центр поддержки клиентов Renault в любое удобное для Вас время</big></p>
                  <div><small><a href=""><u><b>+998 00 000-00-00</b></u></a> – по Стране звонок бесплатный</small></div>
                </div>
                <div class="btn-def mt-5">
                  <a href="">перейти в раздел Центра поддержки клиентов</a>
                </div>
                <div class="text-center mt-4">
                  <span class="link-def">
                    <a href="/faq.html">часто задаваемые вопросы</a>
                  </span>
                </div>
              </div>
            </figure>
            <figure>
              <div class="wrapper shadow-def bg-color-white p-7 mobile:p-4 full-h">
                <div class="desc-content">
                  <h3>Renault Assistance</h3>
                  <p><big>Служба технической помощи на дорогах. Мы на расстоянии одного звонка 24/7!</big></p>
                  <div><small><a href=""><u><b>+998 00 000-00-00</b></u></a> – по Стране звонок бесплатный</small></div>
                </div>
                <div class="btn-def mt-5">
                  <a href="">подробнее о Renault Assistance</a>
                </div>
              </div>
            </figure>
            <figure>
              <div class="wrapper shadow-def bg-color-white p-7 mobile:p-4 full-h">
                <div class="desc-content">
                  <h3>Центр поддержки клиентов</h3>
                  <p><big>Обратитесь в Центр поддержки клиентов Renault в любое удобное для Вас время</big></p>
                  <div><small><a href=""><u><b>+998 00 000-00-00</b></u></a> – по Стране звонок бесплатный</small></div>
                </div>
                <div class="btn-def mt-5">
                  <a href="">запросить коммерческое предложение</a>
                </div>
              </div>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <div class="container pv-8">
          <div class="boxes-2 figure-mv-3">
            <figure>
              <div class="text-center mb-5">
                <h5><b>Как стать партнером Renault</b></h5>
              </div>
              <div class="img-content">
                <img src="https://cdn.group.renault.com/ren/ru/renault-in-russia/renault-dealership.jpg.ximg.large.webp/59cc7200c3.webp" alt="" width="100%">
              </div>
              <div class="desc-content ph-8 mv-5">
                <p>Нам всегда интересно сотрудничество. Узнайте, как подписать партнерский договор с Renault</p>
              </div>
              <div class="text-center">
                <span class="link-down">
                  <a href="">узнайте, как стать партнером Renault</a>
                </span>
              </div>
            </figure>
            <figure>
              <div class="text-center mb-5">
                <h5><b>Карьера в Renault Россия</b></h5>
              </div>
              <div class="img-content">
                <img src="https://cdn.group.renault.com/ren/ru/service/afs-repair-01-1536.jpg.ximg.large.webp/4db09cb33b.webp" alt="" width="100%">
              </div>
              <div class="desc-content ph-8 mv-5">
                <p>Постройте карьеру в крупной международной компании</p>
              </div>
              <div class="text-center">
                <span class="link-down">
                  <a href="">узнать больше о карьере в Renault</a>
                </span>
              </div>
            </figure>
          </div>
        </div>
      </section>
			<br><br>
		</main>
		@@include('./app/src/components/_footer.html')
	</div>
	<!-- SCRIPTS -->
	@@include('./app/src/components/_scripts_footer.html')
</body>

</html>