<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	@@include('./app/src/components/_favicons.html')
	@@include('./app/src/components/_scripts_head.html')
	<title>Renault Uzbekistan</title>
</head>

<body>

	<div id="page">
		@@include('./app/src/components/_header.html')
		<main class="main" data-aos="fade" id="main">
			<div class="nav-sub">
				<div class="wrapper link-li-1">
					<ul class="jc-center">
						<li class="active"><a href="">Найти дилера</a></li>
					</ul>
				</div>
			</div>
			<div class="bnr-page">
				<div class="wrapper">
					<div class="entry-header">
						<div class="img-content">	
							<picture class="pic-absolute is-covered">
								<img src="/img/other/leasing/leasing-bnr.webp">
							</picture>
						</div>
						<div class="desc-content">
							<h1>ОФИЦИАЛЬНЫЕ ДИЛЕРЫ RENAULT В УЗБЕКИСТАНЕ</h1>
							<p>В режиме работы дилерских центров возможны изменения. Уточняйте актуальный режим работы через форму "Задать вопрос" или по телефону. Ответы на запросы через сайт могут поступать с задержкой.</p>
						</div>
					</div>					
				</div>
			</div>
			<section class="dealers">
				<div class="container pv-8">
					<div class="wrapper">
						<div id="dealers-map" class="dealers-map">
							<div class="dealers-map-wrapper">
								<div class="map-bar">
									<div class="cap-content">
										2 дилерских центров найдено
									</div>
									<div class="item-content dealers-items">
										<div class="item" v-for="(item, key) in dealerships" :key="key">
											<div class="item-wrapper">
												<div class="mr-3 fsh-0">
													<span class="i-marker">{{key+1}}</span>
												</div>
												<div>
													<div class="_name mb-1">{{item.name}}</div>
													<div class="_address mb-1"><a :href="'http://maps.yandex.ru/?text='+item.coords[0]+', '+item.coords[1]" target="_blank">{{item.address}}</a></div>
													<div class="_phone mb-1"><a :href="'tel:'+item.phone"><u>Телефон: +{{item.phone | spacePhone}}</u></a></div>
													<div class="more-panel mt-3">
														<!-- <span class="link-def">
															<a role="button" data-toggle="collapse" :href="'#t-'+key" class="fw-7">
																<span>Узнать больше</span>
															</a>
														</span> -->
														<div :id="'t-'+key" class="collapse fs-2-em">
															<div class="pv-2">
																<div class="fw-7">Услуги:</div>
																<ul>
																	<li v-for="(service, key) in item.services" :key="key">{{service}}</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="map-content m-t-30 relative">
									<div id="ymap_ctrl_display" style="display: none; width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.5); z-index: 100; pointer-events: none;">
										<div style="position: relative; top: 50%; left: 0; right: 0; color: white; text-align: center; font-size: 1.8em; pointer-events: none;">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</div>
									</div>
									<div id="map"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			@@include('./app/src/components/_yur-accordion.html')
		</main>
		@@include('./app/src/components/_footer.html')
	</div>
	<!-- SCRIPTS -->
	@@include('./app/src/components/_scripts_footer.html')
</body>

<script>
	var v = new Vue({
  	el: '#dealers-map',
  	data: {
			dealerships: []
		},
		mounted(){
			var v = this;
			this.dealerships = [
				{
					"name": "ROHAT RENAULT",
					"address": "г. Ташкент, Бектемирский район, ТКАД-1 (напротив ЖБИ-2)",
					"phone": "998993533226",
					"coords": ["41.251831", "69.344402"],
					"services": [
						"Кузовной ремонт",
						"Продажа з/ч и аксессуаров",
						"Автосервис",
						"Продажа новых автомобилей",
						"Продажа автомобилей с пробегом"
					]
				},
				{
					"name": "SERGELI RENAULT",
					"address": "Узбекистан, г.Ташкент, Сергелийский район, ул.Янги Сергели 7",
					"phone": "998993533221",
					"coords": ["41.236726", "69.214532"],
					"services": [
						"Кузовной ремонт",
						"Продажа з/ч и аксессуаров",
						"Автосервис",
						"Продажа новых автомобилей",
						"Продажа автомобилей с пробегом"
					]
				}
			]
			var dealerships = this.dealerships;

			ymaps.ready(function() {
				window.myMap = new ymaps.Map('map', {
					center: [41.234893, 69.207893],
					//controls: ['routePanelControl'],
					zoom: 11
				}, {
					searchControlProvider: 'yandex#search'
				})
				/*
				var geoLoc = ymaps.geolocation.get();
				geoLoc.then(
					function(result) {
						currentPosition = result.geoObjects.position;
						var control = myMap.controls.get('routePanelControl');
						console.log(currentPosition)
						// Зададим состояние панели для построения машрутов.
						control.routePanel.state.set({
							// Тип маршрутизации.
							type: 'masstransit',
							// Выключим возможность задавать пункт отправления в поле ввода.
							fromEnabled: false,
							// Адрес или координаты пункта отправления.
							from: currentPosition,
							// Включим возможность задавать пункт назначения в поле ввода.
							//toEnabled: true,
							// Адрес или координаты пункта назначения.
							to: [41.234893, 69.207893]
						});

						// Зададим опции панели для построения машрутов.
						control.routePanel.options.set({
							// Запрещаем показ кнопки, позволяющей менять местами начальную и конечную точки маршрута.
							allowSwitch: false,
							// Включим определение адреса по координатам клика.
							// Адрес будет автоматически подставляться в поле ввода на панели, а также в подпись метки маршрута.
							reverseGeocoding: true,
							// Зададим виды маршрутизации, которые будут доступны пользователям для выбора.
							types: { masstransit: true, pedestrian: true, taxi: true }
						});

						// Создаем кнопку, с помощью которой пользователи смогут менять местами начальную и конечную точки маршрута.
						var switchPointsButton = new ymaps.control.Button({
							data: {content: "Поменять местами", title: "Поменять точки местами"},
							options: {selectOnClick: false, maxWidth: 160}
						});
						// Объявляем обработчик для кнопки.
						switchPointsButton.events.add('click', function () {
								// Меняет местами начальную и конечную точки маршрута.
								control.routePanel.switchPoints();
						});
						myMap.controls.add(switchPointsButton);

					},
					function(err) {
						console.log('Ошибка: ' + err);
					}
				);
				*/




					// Создаём макет содержимого.
				var MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
						`<div class="marker-area">
							<div class="marker-area-content">
								<span>
									$[properties.iconContent]
								</span>
							</div>
						</div>`
					)

				for (let i = 0; i < dealerships.length; i++) {
					const item = dealerships[i];
					var myPlacemark = new ymaps.Placemark(item.coords, {
						//hintContent: 'Собственный значок метки',
						//balloonContent: 'Это красивая метка',
						iconContent: i+1
					}, {
						// Опции.
						iconLayout: 'default#imageWithContent', // Необходимо указать данный тип макета
						//iconImageHref: 'https://www.kia.ru/images/map/map_pin.svg',
						iconImageHref: '', // Своё изображение иконки метки.
						iconImageSize: [36, 36], // Размеры метки.
            iconContentLayout: MyIconContentLayout, // Макет содержимого.
						iconImageOffset: [-18, -18] // Смещение левого верхнего угла иконки относительно её "ножки" (точки привязки)
					})


					myMap.geoObjects.add(myPlacemark)
				}
					

			});

		}
	})
</script>

</html>