<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	@@include('./app/src/components/_favicons.html')
	@@include('./app/src/components/_scripts_head.html')
	<title>Renault Uzbekistan</title>
</head>

<body>

	<div id="page">
		@@include('./app/src/components/_header.html')
		<main class="main" data-aos="fade" id="main">
			<div class="nav-sub">
				<div class="wrapper link-li-1 jc-between flex ai-center ph-3">
					<ul class="jc-start fs-2-em">
						<li><a href="/personal-cars/kaptur.html">Kaptur</a></li>
						<li class="active"><a href="/personal-cars/kaptur/design.html">Дизайн</a></li>
						<li><a href="/personal-cars/kaptur/equipment.html">ОБОРУДОВАНИЕ</a></li>
						<li><a href="/personal-cars/kaptur/technical-specifications.html">Технические характеристики</a></li>
					</ul>
				</div>
			</div>
			<div class="bnr-page full-style">
				<div class="wrapper">
					<div class="entry-header">
						<div class="img-content">
							<picture>
								<img src="/img/other/kaptur/kaptur-design-bnr.webp">
							</picture>
						</div>
					</div>					
				</div>
			</div>
			<section>
				<div class="container pv-8">
					<div class="wrapper">
						<div class="entry-header text-center box-lg-7 mh-auto mb-5">
							<h1 class="mb-3">
								<div class="text-x20 mobile:text-x15 lh-1 mb-2">ДИЗАЙН</div>
								<div class="text-x10 mobile:text-x8 lh-1 fw-2">RENAULT KAPTUR</div>
							</h1>
						</div>
					</div>
				</div>
			</section>
			<div class="iframe-area pb-1">
				<iframe class="iframe-h iframe-el" src="/iframes/kaptur/frame_equipment_1-1.html" frameborder="0"></iframe>
			</div>
			<section vue-area="exterior-model" api-url="https://renault.uz/models.php?id=6">
				<div class="container pb-8" v-if="current_complectation.exteriors">
					<div class="entry-header box-lg-7 text-center mh-auto">
						<h2>{{current_complectation.exteriors.length}} УНИКАЛЬНЫХ РАСЦВЕТОК</h2>
					</div>
					<div class="exterior">
						<div class="exterior-main row" v-show="tab_index === 0">
							<span
								class="cloudimage-360 exterior-main-wrap"
								:data-folder="current_exterior.folder+'/'"
								data-filename="{index}.jpg"
								data-spin-reverse
								data-amount="24">
							</span>
						</div>
						<div v-show="tab_index === 1" class="exterior-main">
							<img :src="current_exterior.folder+'/4.jpg'">
						</div>
						<div class="exterior-sample">
							<div class="nav-def responsive-tab-model">
								<ul class="list flex text-center link-li-1 jc-center" >
									<li class="r-tabs-state-active"><a class="pb-3" href="#responsive-tab-1"><div class="text mt-4">Цвет кузова</div></a></li>
									<li v-if="wheels.length"><a class="pb-3" href="#responsive-tab-2"><div class="text mt-4">Колеса</div></a></li>
									<!-- <li><a class="pb-3" href="#responsive-tab-3"><div class="text mt-4">Салон</div></a></li> -->
								</ul>
								<div class="pantab" id="responsive-tab-1">
									<div class="wrapper text-center">
										<div>{{current_exterior.name}}</div>
										<div class="flex desktop:jc-center">
											<div>
												<div class="exterior-color-items desktop:mh-5 mv-3">
													<figure v-for="(exterior, key) in current_complectation.uniq_exteriors" :key="key" 
																	@click="changeExterior(exterior)" 
																	:class="{'active': current_exterior.name == exterior.name}"
																	role="button">
														<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
														<div class="img-content">
															<img :src="exterior.image" alt="">
														</div>
													</figure>
												</div>
												<div class="fw-7 hide">
													<span v-if="current_exterior.price > 0">{{current_exterior.price}}</span>
													<span v-else>Бесплатно</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pantab" id="responsive-tab-2">
									<div class="text-center">
										<div class="mb-3">{{current_wheel.name}}</div>
										<div class="wheels-items">
											<figure v-for="(wheel, key) in wheels" :key="key" @click="changeWheel(wheel)" :class="{'active': current_wheel.id == wheel.id}" role="button">
												<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
												<div class="img-content">
													<img :src="wheel.image" alt="">
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-content text-center mv-3 mobile:mt-6">
						<span class="btn-def mh-2">
							<a href="/configurator-model.html?model=arkana">перейти в конфигуратор</a>
						</span>
					</div>
				</div>
			</section>
			<div class="iframe-area pv-1 pb-15">
				<iframe class="iframe-h iframe-el" src="/iframes/kaptur/frame_equipment_1-2.html" frameborder="0"></iframe>
			</div>
			<section>
				<div class="container pv-5 desktop:pb-15">
					<div class="model-other-items boxes nowrap jc-center img-ratio-1 mv-8 figure-mv-3">
						<figure>
							<a href="/personal-cars/kaptur/equipment.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/kaptur/new/page_equipment.jpg.ximg.large.webp/82ba69fc21.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">оборудование</div>
									</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="/personal-cars/kaptur/design.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/kaptur/new/page_design.jpg.ximg.large.webp/a1a6fc00c5.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">дизайн</div>
									</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="/personal-cars/kaptur/technical-specifications.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/kaptur/new/page_technical.jpg.ximg.large.webp/7eff124268.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">технические характеристики</div>
									</div>
								</div>
							</a>
						</figure>
					</div>
				</div>
			</section>
			@@include('./app/src/components/_yur-accordion.html')
		</main>
		@@include('./app/src/components/_footer.html')
	</div>
	<!-- SCRIPTS -->
	@@include('./app/src/components/_scripts_footer.html')

</body>
</html>