<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	@@include('./app/src/components/_favicons.html')
	@@include('./app/src/components/_scripts_head.html')
	<title>Renault Uzbekistan</title>
</head>

<body>

	<div id="page">
		@@include('./app/src/components/_header.html')
		<main class="main" data-aos="fade" id="main">
			<div class="nav-sub">
				<div class="wrapper link-li-1 jc-between flex ai-center ph-3">
					<ul class="jc-start fs-2-em">
						<li><a href="/personal-cars/arkana.html">ARKANA</a></li>
						<li class="active"><a href="/personal-cars/arkana/design.html">ДИЗАЙН</a></li>
						<li><a href="/personal-cars/arkana/equipment.html">ОБОРУДОВАНИЕ</a></li>
						<li><a href="/personal-cars/arkana/multimedia.html">МУЛЬТИМЕДИА</a></li>
						<li><a href="/personal-cars/arkana/technical-specifications.html">Технические характеристики</a></li>
					</ul>
				</div>
			</div>
			<div class="bnr-page full-style">
				<div class="wrapper">
					<div class="entry-header">
						<div class="img-content">
							<picture>
								<img src="/img/other/arkana/arkana-bnr-design.webp">
							</picture>
						</div>
					</div>					
				</div>
			</div>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-md-7 box-lg-6 text-center mh-auto">
						<h1 class="mb-3">
							<span class="text-x20">ДИЗАЙН RENAULT ARKANA</span>
						</h1>
						<p><big>БУДЬ В ЦЕНТРЕ ВНИМАНИЯ!</big></p>
						<br>
						<h2>СТРЕМИТЕЛЬНОСТЬ КУПЕ И ПРАКТИЧНОСТЬ КРОССОВЕРА</h2>
						<div>Созданный на стыке двух концепций — стремительного купе и практичного кроссовера — Renault ARKANA представляет собой совершенно уникальный автомобиль, комфортный в городе и одновременно готовый к приключениям за его пределами.</div>
					</div>
					<iframe src="/iframes/arkana/index.html" frameborder="0" class="iframe-el mt-8 mb-2" style="min-height: 432px;"></iframe>
				</div>
			</section>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-lg-7 text-center mh-auto">
						<h2>УНИКАЛЬНЫЕ ЧЕРТЫ</h2>
						<div>Силуэт Renault ARKANA подчеркивается выразительными линиями кузова, он прекрасно сочетает в себе силу и чувственность, практичность и стиль.</div>
					</div>
					<div class="boxes-4 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Выразительный силуэт купе-кроссовера с ниспадающим профилем крыши</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Массивные колесные арки с защитными накладками</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-3.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">17” легкосплавные колесные диски оригинального дизайна</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-4.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Восходящая поясная линия кузова с хромированными элементами</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
					</div>
					<div class="boxes-2 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-2-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Светодиодные фары Pure Vision</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Светодиодные задние фонари Edge Light</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
					</div>
				</div>
			</section>
			<section vue-area="exterior-model" api-url="https://renault.uz/models.php?id=5">
				<div class="container pb-8" v-if="current_complectation.exteriors">
					<div class="entry-header box-lg-7 text-center mh-auto">
						<h2>{{current_complectation.exteriors.length}} УНИКАЛЬНЫХ РАСЦВЕТОК</h2>
					</div>
					<div class="exterior">
						<div class="exterior-main row" v-show="tab_index === 0">
							<span
								class="cloudimage-360 exterior-main-wrap"
								:data-folder="current_exterior.folder+'/'"
								data-filename="{index}.jpg"
								data-spin-reverse
								data-amount="24">
							</span>
						</div>
						<div v-show="tab_index === 1" class="exterior-main">
							<img :src="current_exterior.folder+'/4.jpg'">
						</div>
						<div class="exterior-sample">
							<div class="nav-def responsive-tab-model">
								<ul class="list flex text-center link-li-1 jc-center" >
									<li class="r-tabs-state-active"><a class="pb-3" href="#responsive-tab-1"><div class="text mt-4">Цвет кузова</div></a></li>
									<li v-if="wheels.length"><a class="pb-3" href="#responsive-tab-2"><div class="text mt-4">Колеса</div></a></li>
									<!-- <li><a class="pb-3" href="#responsive-tab-3"><div class="text mt-4">Салон</div></a></li> -->
								</ul>
								<div class="pantab" id="responsive-tab-1">
									<div class="wrapper text-center">
										<div>{{current_exterior.name}}</div>
										<div class="flex desktop:jc-center">
											<div>
												<div class="exterior-color-items desktop:mh-5 mv-3">
													<figure v-for="(exterior, key) in current_complectation.uniq_exteriors" :key="key" 
																	@click="changeExterior(exterior)" 
																	:class="{'active': current_exterior.name == exterior.name}"
																	role="button">
														<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
														<div class="img-content">
															<img :src="exterior.image" alt="">
														</div>
													</figure>
												</div>
												<div class="fw-7 hide">
													<span v-if="current_exterior.price > 0">{{current_exterior.price}}</span>
													<span v-else>Бесплатно</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pantab" id="responsive-tab-2">
									<div class="text-center">
										<div class="mb-3">{{current_wheel.name}}</div>
										<div class="wheels-items">
											<figure v-for="(wheel, key) in wheels" :key="key" @click="changeWheel(wheel)" :class="{'active': current_wheel.id == wheel.id}" role="button">
												<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
												<div class="img-content">
													<img :src="wheel.image" alt="">
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-content text-center mv-3 mobile:mt-6">
						<span class="btn-def mh-2">
							<a href="/configurator-model.html?model=arkana">перейти в конфигуратор</a>
						</span>
					</div>
				</div>
			</section>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-lg-7 text-center mh-auto mb-8">
						<h2>ВОДИТЕЛЬ В ЦЕНТРЕ ВНИМАНИЯ</h2>
						<div>Качественные материалы отделки и эргономичный интерьер, в котором особое внимание уделено водителю, дополнены атмосферной подсветкой и множеством отделений для хранения ваших вещей.</div>
					</div>
					<div class="block-img">
						<img src="/img/other/arkana/arkana-design-3.webp" width="100%">
					</div>
					<div class="boxes-4 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Новый уровень комфорта</div>
								<hr class="style-1 ml-0">
								<p>В салоне Renault ARKANA много воздуха и свободного пространства для каждого пассажира, а ниши и отделения для хранения позволят взять с собой важные мелочи.</p>
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Эргономичный интерьер</div>
								<hr class="style-1 ml-0">
								<p>Все сконцентрировано вокруг водителя: продуманная эргономика центральной консоли, интуитивно понятное расположение органов управления, новая мультимедийная система EASY LINK — все под рукой!</p>
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-3.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Климат-контроль</div>
								<hr class="style-1 ml-0">
								<p>В салоне Renault ARKANA вы будете чувствовать себя комфортно в любую погоду благодаря системе климат-контроля с оригинальным дизайном.</p>
							</div>
						</figure>
						<figure>
							<picture>
								<img src="https://cdn.group.renault.com/ren/ru/arkana/%D0%90%D1%80%D0%BA%D0%B0%D0%BD%D0%B0_%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D1%8B%D0%B5_%D0%B2%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B8_%D0%BD%D0%B0_%D0%B4%D0%B2%D0%B5%D1%80%D1%8F%D1%85_%D1%81%D0%B2%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D0%B51.jpg.ximg.large.webp/2324d801cc.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Создать атмосферу – легко</div>
								<hr class="style-1 ml-0">
								<p>Интерьерная подсветка Ambient Light позволяет создать нужную атмосферу в салоне Renault Arkana! Достаточно выбрать любой из 8 цветов — в соответствии с вашими пожеланиями и настроением.</p>
							</div>
						</figure>
					</div>
				</div>
			</section>
			<section>
				<div class="container pv-5 desktop:pb-15">
					<div class="model-other-items boxes nowrap jc-center img-ratio-1 mv-8 figure-mv-3">
						<figure>
							<a href="/personal-cars/arkana/equipment.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/arkana/arkana-equipment.jpg.ximg.large.webp/37ede4c4b3.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">оборудование</div>
									</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="/personal-cars/arkana/design.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/arkana/arkana-desing.jpg.ximg.large.webp/2dbfd1fc59.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">дизайн</div>
									</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="/personal-cars/arkana/multimedia.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/arkana/arkana-page-media.jpg.ximg.large.webp/5802b8f123.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">мультимедиа</div>
									</div>
								</div>
							</a>
						</figure>
						<figure>
							<a href="/personal-cars/arkana/technical-specifications.html">
								<div class="img-content">
									<img src="https://cdn.group.renault.com/ren/ru/arkana/arkana-desing.jpg.ximg.large.webp/2dbfd1fc59.webp" alt="" width="100%">
								</div>
								<div class="desc-content mt-2">
									<div class="link-def text-x5-b">
										<div class="this-link">технические характеристики</div>
									</div>
								</div>
							</a>
						</figure>
					</div>
				</div>
			</section>
			@@include('./app/src/components/_yur-accordion.html')
		</main>
		@@include('./app/src/components/_footer.html')
	</div>

	<!-- SCRIPTS -->
	@@include('./app/src/components/_scripts_footer.html')


</body>
</html>