<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	@@include('./app/src/components/_favicons.html')
	@@include('./app/src/components/_scripts_head.html')
	<title>Renault Uzbekistan</title>
</head>

<body>

	<div id="page">
		@@include('./app/src/components/_header.html')
		<main class="main" data-aos="fade" id="main">
			<div class="nav-sub">
				<div class="wrapper link-li-1 jc-between flex ai-center ph-3">
					<ul class="jc-start fs-2-em">
						<li><a href="/personal-cars/arkana.html">ARKANA</a></li>
						<li class="active"><a href="/personal-cars/arkana/design.html">ДИЗАЙН</a></li>
						<li><a href="/personal-cars/arkana/equipment.html">ОБОРУДОВАНИЕ</a></li>
						<li><a href="/personal-cars/arkana/multimedia.html">МУЛЬТИМЕДИА</a></li>
					</ul>
				</div>
			</div>
			<div class="bnr-page full-style">
				<div class="wrapper">
					<div class="entry-header">
						<div class="img-content">
							<picture>
								<img src="/img/other/arkana/arkana-bnr-design.webp">
							</picture>
						</div>
					</div>					
				</div>
			</div>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-md-7 box-lg-6 text-center mh-auto">
						<h1 class="mb-3">
							<span class="text-x20">ДИЗАЙН RENAULT ARKANA</span>
						</h1>
						<p><big>БУДЬ В ЦЕНТРЕ ВНИМАНИЯ!</big></p>
						<br>
						<h2>СТРЕМИТЕЛЬНОСТЬ КУПЕ И ПРАКТИЧНОСТЬ КРОССОВЕРА</h2>
						<div>Созданный на стыке двух концепций — стремительного купе и практичного кроссовера — Renault ARKANA представляет собой совершенно уникальный автомобиль, комфортный в городе и одновременно готовый к приключениям за его пределами.</div>
					</div>
					<iframe src="/iframes/arkana/index.html" frameborder="0" class="iframe-el mt-8 mb-2" style="min-height: 432px;"></iframe>
				</div>
			</section>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-lg-7 text-center mh-auto">
						<h2>УНИКАЛЬНЫЕ ЧЕРТЫ</h2>
						<div>Силуэт Renault ARKANA подчеркивается выразительными линиями кузова, он прекрасно сочетает в себе силу и чувственность, практичность и стиль.</div>
					</div>
					<div class="boxes-4 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Выразительный силуэт купе-кроссовера с ниспадающим профилем крыши</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Массивные колесные арки с защитными накладками</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-3.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">17” легкосплавные колесные диски оригинального дизайна</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-4.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Восходящая поясная линия кузова с хромированными элементами</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
					</div>
					<div class="boxes-2 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-2-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Светодиодные фары Pure Vision</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-1-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Светодиодные задние фонари Edge Light</div>
								<hr class="style-1 ml-0">
							</div>
						</figure>
					</div>
				</div>
			</section>
			<section vue-area="exterior-model">
				<div class="container pb-8">
					<div class="entry-header box-lg-7 text-center mh-auto">
						<h2>{{current_complectation.exteriors.length}} УНИКАЛЬНЫХ РАСЦВЕТОК</h2>
					</div>
					<div class="exterior">
						<div class="exterior-main row">
							<span
								class="cloudimage-360 exterior-main-wrap"
								:data-folder="current_exterior.folder+'/'"
								data-filename="{index}.jpg"
								data-spin-reverse
								data-amount="24">
							</span>
						</div>
						<div class="exterior-sample">
							<div class="nav-def responsive-tab">
								<ul class="list flex text-center link-li-1 jc-center" >
									<li><a class="pb-3" href="#responsive-tab-1"><div class="text mt-4">Цвет кузова</div></a></li>
									<li class="active"><a class="pb-3" href="#responsive-tab-2"><div class="text mt-4">Колеса</div></a></li>
									<li><a class="pb-3" href="#responsive-tab-3"><div class="text mt-4">Салон</div></a></li>
								</ul>
								<div class="pantab" id="responsive-tab-1">
									<div class="wrapper text-center">
										<div>{{current_exterior.name}}</div>
										<div class="flex desktop:jc-center">
											<div>
												<div class="exterior-color-items desktop:mh-5 mv-3">
													<figure v-for="(exterior, key) in current_complectation.exteriors" :key="key" 
																	@click="changeExterior(exterior)" 
																	:class="{'active': current_exterior.name == exterior.name}"
																	role="button">
														<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
														<div class="img-content">
															<img :src="exterior.image" alt="">
														</div>
													</figure>
												</div>
												<div class="fw-7 hide">
													<span v-if="current_exterior.price > 0">{{current_exterior.price}}</span>
													<span v-else>Бесплатно</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pantab" id="responsive-tab-2">
									<div class="text-center">
										<div class="mb-6">17-дюймовые чёрные легкосплавные диски MONTIS</div>
										<div class="wheels-items">
											<figure class="active">
												<span class="checked-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path d="M29 9.182L23.91 4 12.03 16.092l-5.94-6.046L1 15.228l11.03 11.228z"></path></svg></span>
												<div class="img-ontent">
													<img src="https://3dv.renault.com/ImageFromBookmark?configuration=LJC%2FEA2%2FESS%2FDG%2FTR4X2%2FRV%2FCA01%2FPBNCH%2FVT%2FCPE%2FRET03%2FPROJAB%2FRALU17%2FDRAP01%2FATAR02%2FOV369%2FABLAV%2FESPHSA%2FALEVA%2FSSPTPR%2FSOP03C%2FVLCUIR%2FRETC%2FSGACHA%2FVOLRHP%2FRA408%2FBVM5%2FRDIF03%2FENPB01%2FSANACF%2FPRODIS%2FH4M%2FSECAMH%2FRCALL%2FSDANGM%2FECOMOD%2FITPK1%2FSSMLEX%2FPERG02%2FVOLNCH%2FEV1GA1%2FWOSRE%2FNOCAM&databaseId=65cec607-8d3e-441a-bde7-e231179471e2&bookmarkSet=Ext_Wheel&bookmark=Ext_Wheel&profile=JANTE" alt="">
												</div>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-content text-center">
						<span class="btn-def mh-2">
							<a href="/configurator-model.html?model=arkana">перейти в конфигуратор</a>
						</span>
					</div>
				</div>
			</section>
			<section>
				<div class="container pv-8">
					<div class="entry-header box-lg-7 text-center mh-auto mb-8">
						<h2>ВОДИТЕЛЬ В ЦЕНТРЕ ВНИМАНИЯ</h2>
						<div>Качественные материалы отделки и эргономичный интерьер, в котором особое внимание уделено водителю, дополнены атмосферной подсветкой и множеством отделений для хранения ваших вещей.</div>
					</div>
					<div class="block-img">
						<img src="/img/other/arkana/arkana-design-3.webp" width="100%">
					</div>
					<div class="boxes-4 jc-center figure-mv-3 mv-5 img-ratio-1">
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-1.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Новый уровень комфорта</div>
								<hr class="style-1 ml-0">
								<p>В салоне Renault ARKANA много воздуха и свободного пространства для каждого пассажира, а ниши и отделения для хранения позволят взять с собой важные мелочи.</p>
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-2.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Эргономичный интерьер</div>
								<hr class="style-1 ml-0">
								<p>Все сконцентрировано вокруг водителя: продуманная эргономика центральной консоли, интуитивно понятное расположение органов управления, новая мультимедийная система EASY LINK — все под рукой!</p>
							</div>
						</figure>
						<figure>
							<picture>
								<img src="/img/other/arkana/arkana-design-4-3.webp" width="100%">
							</picture>
							<div class="desc-content">
								<div class="text-x4-b mv-3">Климат-контроль</div>
								<hr class="style-1 ml-0">
								<p>В салоне Renault ARKANA вы будете чувствовать себя комфортно в любую погоду благодаря системе климат-контроля с оригинальным дизайном.</p>
							</div>
						</figure>
					</div>
				</div>
			</section>
			@@include('./app/src/components/_yur-accordion.html')
		</main>
		@@include('./app/src/components/_footer.html')
	</div>

	<!-- SCRIPTS -->
	@@include('./app/src/components/_scripts_footer.html')


</body>
</html>